<p>Add any footnotes, relevant to the company's circumstances, that are needed to explain entries in the Statutory Accounts.</p>

<p>You can change your selection at any time prior to submission.</p>

    


<form method="POST" action="" class="form">
    

            <fieldset>
              <legend class="form-label-bold">Select which notes you want to include:</legend>
              <br />

  
              <label class="block-label" for="checkbox-1">
                <input type="checkbox" value="1" id="checkbox-1">
                Commitments by way of guarantee    
                <span class="font-xsmall form-block">For example, if the company is the guarantor on a loan taken out by an employee.</span>
              </label>
          
              <label class="block-label" for="checkbox-2">
                <input type="checkbox" value="2" id="checkbox-2">
                Advances and credits
              <span class="font-xsmall form-block">For example, if the company has made a cash advance to an employee.</span>
              </label>
             

        
            </fieldset>
</form>
