<form method="POST" action="/profitandloss">
    

<div class="cato-financial"> <!-- Wrapping this div around P+L, Balance Sheet so we can target them specifically-->


<div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          &nbsp;
        </div>
      </div>
<div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2013<span class="currency">&pound;</span></h3>        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2012<span class="currency">&pound;</span></h3>        </div>
      </div>
</div>



<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
 		<details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Turnover</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Nullam vitae ante placerat magna consectetur sagittis. Nullam non <a href="#">mauris vitae odio ornare eleifend ut sed sapien</a>. Vivamus felis massa, dictum eget hendrerit nec, mattis at nibh. Aliquam nisi ipsum, sollicitudin cursus lorem et, ultricies consequat urna.</p>
              <ul class="list-bullet font-xsmall">
            <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            <li>vestibulum id ligula porta felis euismod semper</li>
            <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
          </ul>
            </div>
          </details>  
<!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
             
             
             
             
             
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
			<input type="text"size="12" maxlength="11" class="form-control" id="turnover_current" name="turnover_current">
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
         <label for="turnover_previous" class="visuallyhidden">2012 Turnover</label>

        	<input type="text"size="12" maxlength="11" class="form-control" id="turnover_previous" name="turnover_previous">
      </div>
	</div>
      
</div>


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Distribution costs</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Proin pharetra sollicitudin gravida. Donec dui metus, convallis sed ipsum vel, sagittis malesuada justo. Duis ut volutpat massa. Praesent eget ultrices nisi. Maecenas eros erat, luctus in convallis in, posuere auctor elit.</p>
              <p class="font-xsmall">Curabitur ut nunc pretium, placerat urna sit amet, suscipit dolor. Vestibulum pharetra turpis ornare tortor dapibus pretium. Aenean ac tortor vel elit lacinia suscipit ac eu lectus. Suspendisse a justo eget diam egestas dictum et eget metus. Fusce sagittis lacinia suscipit. Quisque nec elit posuere, adipiscing velit sed, iaculis nulla. Nulla placerat velit mauris, molestie pulvinar risus iaculis vehicula. Phasellus eleifend augue in justo venenatis, ut egestas mauris dictum. Quisque sed congue sem. </p>
            </div>
          </details>
<!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
          
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
			<input type="text"size="12" maxlength="11" class="form-control" id="distributioncosts_current" name="distributioncosts_current">
      </div>
      </div>
      
      <div class="grid grid-1-4">
        <div class="inner-block">
                  <label for="distributioncosts_previous" class="visuallyhidden">2012 Distribution costs</label>

        	<input type="text"size="12" maxlength="11" class="form-control" id="distributioncosts_previous" name="distributioncosts_previous">
      </div>
	</div>
      
</div>



<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Cost of sales or a label that runs across two or even three lines like this one does here</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Sed laoreet a leo sit amet convallis. Sed vulputate leo in turpis venenatis, et faucibus purus posuere. Donec tellus mi, accumsan vulputate dapibus eget, auctor eu lorem. Sed accumsan metus at dolor tempus, sit amet feugiat enim tincidunt.</p>
            </div>
          </details>
 <!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
         
         
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
     	<input type="text"size="12" maxlength="11" class="form-control" id="costofsales_current" name="costofsales_current">
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
            <label for="costofsales_previous" class="visuallyhidden">2012 Cost of sales or a label that runs across two or even three lines like this one does here</label>

        <input type="text"size="12" maxlength="11" class="form-control" id="costofsales_previous" name="costofsales_previous">
      </div>
	</div>
      
</div>

<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
    	<label for="grossprofit_current" class="financial total"><span class="visuallyhidden">2013</span> Gross profit or (loss)</label>
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="grossprofit_current" name="grossprofit_current" class="form-control form-total">
      </div>
    </div>
    <div class="grid grid-1-4">
        <div class="inner-block">
        <label for="grossprofit_previous" class="visuallyhidden">2012 Gross profit or (loss)</label>

        <input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="grossprofit_previous" name="grossprofit_previous" class="form-control form-total">
      </div>
	</div>
      
</div>
 










</div><!-- End div class="cato-financial"-->
        


    
   	
    
</form>