 <br /><!-- Temp br tag, for spacing-->
 
<fieldset>  
<legend class="form-label-bold">Do you want to file accounts with HMRC? <span class="help-number">ABCD1234</span></legend> 
  
	<div class="form-group">
	  <label class="block-label" for="when2">
	    <input type="radio" data-show="#date" class="js-toggle" value="" name="when" id="when2">
	    Yes, full micro-entity accounts with Directors' Report, Profit and Loss, Balance Sheet and Footnotes
	  </label>

	  <label class="block-label" for="when3">
	    <input type="radio" data-show="#date" class="js-toggle" value="" name="when" id="when3">
	     No, I do not want to file with HMRC
	  </label>
	</div>
</fieldset>
        
        
        
<fieldset>  

	<legend class="form-label-bold">Do you want to file accounts with Companies House? <span class="help-number">ABCD1234</span></legend>  
    
	<div class="form-group">
	  <label class="block-label" for="when1">
	    <input type="radio" data-hide="#date" class="js-toggle" value="" name="when" id="when1">
	      Yes, basic micro-entity accounts with Balance Sheet and Footnotes
	  </label>

	  <label class="block-label" for="when2">
	    <input type="radio" data-show="#date" class="js-toggle" value="" name="when" id="when2">
	    Yes, full micro-entity accounts with Directors' Report, Profit and Loss, Balance Sheet and Footnotes
	  </label>

	  <label class="block-label" for="when3">
	    <input type="radio" data-show="#date" class="js-toggle" value="" name="when" id="when3">
	     No, I do not want to file with Companies House
	  </label>
	</div>
    
</fieldset>
        
        
