<table width="100%" class="dashboard-current">
  <tr>  
      <td>1 May 2013 to 30 April 2014</td>
      <td class="logo" width="225"><img src="/public/images/icons/crests/org_crest_27px.png" />Companies House</td>
      <td class="logo" width="225"><img src="/public/images/icons/crests/hmrc_crest_27px.png" />HM Revenue &amp; Customs</td>
  </tr>
  <tr>
      <td>
        <h1 class="heading-medium"><span>1</span> <a href="#">Accounts</a></h1>
        <p class="desc help" id="accountsHelp">Your annual accounts to <b class="bold-small">Companies House</b> and <b class="bold-small">HMRC</b></p>
      </td>
      <td colspan="2" class="spanner status">In progress</td>
  </tr>
  <tr>
      <td>
        <h1 class="heading-medium"><span>2</span> Computations</h1>
        <p class="desc help" id="compsHelp">Calculating how much Company Tax you must pay <b class="bold-small">HMRC</a>.</p>
      </td>
      <td class="status not-applicable">Not required</td>
      <td class="status">Not started</td>
  </tr>
  <tr class="end">
      <td>
        <h1 class="heading-medium"><span>3</span> Annual tax return (CT600)</h1>
        <p class="desc help" id="returnHelp">Your annual Company Tax return to <b class="bold-small">HMRC</b>.</p>
      </td>
      <td class="status not-applicable">Not required</td>
      <td class="status">Not started</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style=""><input type="submit" value="Not ready to submit&#x00A;to Companies House" class="button secondary" disabled="disabled" />
      <p class="due">Due by<br /><b class="strong">31 January 2015</b></p>
      <div class="days-left warning">9 days left</div>
    </td>
    <td style=""><input type="submit" value="Not ready to submit to HMRC" class="button secondary" disabled="disabled" />
      <p class="due">Due by<br /><b class="strong">30 April 2015</b></p>
      <div class="days-left">4 months left</div>
    </td>
  </tr>
</table>