<form method="POST" action="/profitandloss">
    

<div class="cato-financial"> <!-- Wrapping this div around P+L, Balance Sheet so we can target them specifically-->


<!--<div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          &nbsp;
        </div>
      </div>
<div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2013<span class="currency">&pound;</span></h3>        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2012<span class="currency">&pound;</span></h3>        </div>
      </div>
</div>-->


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
 		<details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Profits chargeable to Corporation Tax</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Nullam vitae ante placerat magna consectetur sagittis. Nullam non <a href="#">mauris vitae odio ornare eleifend ut sed sapien</a>. Vivamus felis massa, dictum eget hendrerit nec, mattis at nibh. Aliquam nisi ipsum, sollicitudin cursus lorem et, ultricies consequat urna.</p>
              <ul class="list-bullet font-xsmall">
            <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            <li>vestibulum id ligula porta felis euismod semper</li>
            <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
          </ul>
            </div>
          </details>  
<!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
             
             
             
             
             
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 1,000" name="profitOrLoss.current" readonly="readonly" />	
</div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
            <input name="" type="text" class="form-total form-control" value="&pound; 1,000" name="profitOrLoss.current" readonly="readonly" />
  		</div>
	</div>
      
</div>

<div class="spacer"></div>


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        Financial year
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
		<span class="calculated">2014</span>
      </div>
      </div>
      
      <div class="grid grid-1-4">
        <div class="inner-block">
        <span class="calculated">2013</span>
      </div>
	</div>
      
</div>



<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Amount of profit</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Sed laoreet a leo sit amet convallis. Sed vulputate leo in turpis venenatis, et faucibus purus posuere. Donec tellus mi, accumsan vulputate dapibus eget, auctor eu lorem. Sed accumsan metus at dolor tempus, sit amet feugiat enim tincidunt.</p>
            </div>
          </details>
 <!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
         
         
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 100" name="profitOrLoss.current" readonly="readonly" />	
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 100" name="profitOrLoss.current" readonly="readonly" />	
      </div>
	</div>
      
</div>




<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
 		<details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Rate of tax</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Nullam vitae ante placerat magna consectetur sagittis. Nullam non <a href="#">mauris vitae odio ornare eleifend ut sed sapien</a>. Vivamus felis massa, dictum eget hendrerit nec, mattis at nibh. Aliquam nisi ipsum, sollicitudin cursus lorem et, ultricies consequat urna.</p>
              <ul class="list-bullet font-xsmall">
            <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            <li>vestibulum id ligula porta felis euismod semper</li>
            <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
          </ul>
            </div>
          </details>  
<!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
             
             
             
             
             
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
		<span class="calculated">10%</span>
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
     <span class="calculated">10%</span>
      </div>
	</div>
      
</div>


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Tax</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Proin pharetra sollicitudin gravida. Donec dui metus, convallis sed ipsum vel, sagittis malesuada justo. Duis ut volutpat massa. Praesent eget ultrices nisi. Maecenas eros erat, luctus in convallis in, posuere auctor elit.</p>
              <p class="font-xsmall">Curabitur ut nunc pretium, placerat urna sit amet, suscipit dolor. Vestibulum pharetra turpis ornare tortor dapibus pretium. Aenean ac tortor vel elit lacinia suscipit ac eu lectus. Suspendisse a justo eget diam egestas dictum et eget metus. Fusce sagittis lacinia suscipit. Quisque nec elit posuere, adipiscing velit sed, iaculis nulla. Nulla placerat velit mauris, molestie pulvinar risus iaculis vehicula. Phasellus eleifend augue in justo venenatis, ut egestas mauris dictum. Quisque sed congue sem. </p>
            </div>
          </details>
<!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
          
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 10" name="profitOrLoss.current" readonly="readonly" />	
      </div>
      </div>
      
      <div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 10" name="profitOrLoss.current" readonly="readonly" />	
      </div>
	</div>
      
</div>

<div class="spacer"></div>

<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Marginal Rate Relief (MRR)</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Sed laoreet a leo sit amet convallis. Sed vulputate leo in turpis venenatis, et faucibus purus posuere. Donec tellus mi, accumsan vulputate dapibus eget, auctor eu lorem. Sed accumsan metus at dolor tempus, sit amet feugiat enim tincidunt.</p>
            </div>
          </details>
 <!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
         
         
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
		<span class="calculated">10%</span>
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
		<span class="calculated">10%</span>
      </div>
	</div>
      
</div>


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Corporation Tax net of MRR</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Sed laoreet a leo sit amet convallis. Sed vulputate leo in turpis venenatis, et faucibus purus posuere. Donec tellus mi, accumsan vulputate dapibus eget, auctor eu lorem. Sed accumsan metus at dolor tempus, sit amet feugiat enim tincidunt.</p>
            </div>
          </details>
 <!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
         
         
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 1,000" name="profitOrLoss.current" readonly="readonly" />	
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 1,000" name="profitOrLoss.current" readonly="readonly" />	
      </div>
	</div>
      
</div>


<div class="grid-wrapper">

	<div class="grid grid-1-2">
        <div class="inner-block">
        
        
        
        
<!-- This HTML is messy, and only used to get the demo working - do not copy!-->
        <details>
            <summary aria-controls="details-content-0" tabindex="0"><span class="summary hyperlink">Corporation Tax chargeable</span></summary>
            <div class="panel-indent" id="details-content-0" aria-expanded="false" style="display: none;">
              <p class="font-xsmall">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Sed laoreet a leo sit amet convallis. Sed vulputate leo in turpis venenatis, et faucibus purus posuere. Donec tellus mi, accumsan vulputate dapibus eget, auctor eu lorem. Sed accumsan metus at dolor tempus, sit amet feugiat enim tincidunt.</p>
            </div>
          </details>
 <!-- End of / This HTML is messy, and only used to get the demo working - do not copy!-->
         
         
         
         
         
         
        </div>
      </div>
	<div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 100" name="profitOrLoss.current" readonly="readonly" />	
      </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
        <input name="" type="text" class="form-total form-control" value="&pound; 100" name="profitOrLoss.current" readonly="readonly" />	
      </div>
	</div>
      
</div>















</div><!-- End div class="cato-financial"-->
        


    
   	
    
</form>