<h2 class="heading-large">New submission</h2>

<p>Until you have finished your current submission, you cannot start a new filing to HMRC - however you can start a new Companies Houses filing.</p>

<p><a href="#">Start new Companies House filing</a></p>
<!--<input type="submit" value="Start new Companies House filing" class="button">-->

<!--

VARIATIONS:
Can start joint
Can’t Can start CoHo
Can start HMRC


LOGIC:
Nothing in progress
You can start a joint/HMRC-only/Coho-only filing.

Joint/CoHo only in progress
Until you have submitted your in-progress submission, you can not start any further joint/coho-only filings, though you could start an HMRC only filing

HMRC only in progress
If the AP isn’t the ‘current one’, you can start a joint/HMRC-only/Coho-only filing.
If it is the current AP, you can only start a CoHo only one.

-->