<style>

    a.help-link, a.help-link:visited {
        text-decoration: none;
        color: #0B0C0C;
    }

    a.help-link:hover {
        text-decoration: underline;
        color: #2e8aca;
    }

    .related {
        border-top: 10px solid #005ea5;
        padding-top: 5px;
        margin: 2.5em 0 15px 0;
    }

</style>


<section id="related" class="related">


    <div class="inner group related-subsection">

        <h2 id="parent-subsection">Get your accounts ready</h2>


        <p>
            You'll need a set of accounts with figures rounded to whole numbers
        </p>

        <p>
            You might find it easier to file if you put your accounts into a template first.
        </p>

        <p><a href="/cato/download_template_accounts.html" id="download_template">Template accounts</a> </p>
    </div>



</section>

