<style>

.grid-wrapper h2 {
font-family: nta,Arial,sans-serif;
font-size: 24px;
line-height: 1.25;
text-transform: none;
font-weight: 700;
}

.flush--left {
    margin-left: 0!important;
}

.progress-indicator__list-item--active:after, .progress-indicator__list-item--current:after {
color: #00823b;
}

.progress-indicator__list-item--current a {
font-weight: 700;
color: #0b0c0c;
}

</style>

<div class="inner-block flush--left">
        <ul class="progress-indicator__list">
            

                

                    <li id="section-jump-1" class="progress-indicator__list__section">
                        <h2 class="progress-indicator__list__section__heading--active"><a data-nav-position="1 of 5:" href="#">
                            Accounts
                            
                        </a></h2>
                        
                            
                                
                                        <ul>
                                        
                                            <li id="block-group-jump-1-1" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="1 of 6:" href="#">
                                                            Company details</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                            <li id="block-group-jump-1-2" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="2 of 6:" href="#">
                                                            Officers of the company</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                            <li id="block-group-jump-1-3" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="3 of 6:" href="#">
                                                            Directors' report</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                            <li id="block-group-jump-1-4" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="4 of 6:" href="#">
                                                            Profit and loss</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                            <li id="block-group-jump-1-5" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="5 of 6:" href="#">
                                                            Balance sheet</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                            <li id="block-group-jump-1-6" class="progress-indicator__list-item--active" data-icon="✔">
                                                    
                                                        
                                                            <a data-nav-position="6 of 6:" href="#">
                                                            Footnotes</a>
                                                        
                                                        
                                                            <span class="visuallyhidden">completed</span>
                                                        
                                                    
                                            </li>
                                        
                                        </ul>
                                
                            
                        
                    </li>
                

                    <li id="section-jump-2" class="progress-indicator__list__section">
                        <h2 class="progress-indicator__list__section__heading--active"><a data-nav-position="2 of 5:" href="#">
                            Companies House accounts submission
                            
                        </a></h2>
                        
                            
                                
                                    <ul>
                                    
                                        <li id="block-group-jump-2-1" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="1 of 1:" href="#">
                                                        Approve and submit accounts</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                    </ul>
                                
                            
                        
                    </li>
                

                    <li id="section-jump-3" class="progress-indicator__list__section">
                        <h2 class="progress-indicator__list__section__heading--active"><a data-nav-position="3 of 5:" href="#">
                            Computations
                            
                        </a></h2>
                        
                            
                                
                                    <ul>
                                    
                                        <li id="block-group-jump-3-1" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="1 of 10:" href="#">
                                                        Computations Apportionment</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-2" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="2 of 10:" href="#">
                                                        Trading account details</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-3" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="3 of 10:" href="#">
                                                        Expenses</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-4" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="4 of 10:" href="#">
                                                        Detailed profit and loss</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-5" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="5 of 10:" href="#">
                                                        Capital allowances / balancing charges</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-6" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="6 of 10:" href="#">
                                                        Income from property</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-7" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="7 of 10:" href="#">
                                                        Trading losses</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-8" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="8 of 10:" href="#">
                                                        Charitable donations</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-9" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="9 of 10:" href="#">
                                                        Profits chargeable to Corporation Tax</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                        <li id="block-group-jump-3-10" class="progress-indicator__list-item--active" data-icon="✔">
                                                
                                                    
                                                        <a data-nav-position="10 of 10:" href="#">
                                                        Summary</a>
                                                    
                                                    
                                                        <span class="visuallyhidden">completed</span>
                                                    
                                                
                                        </li>
                                    
                                    </ul>
                                
                            
                        
                    </li>
                

                    <li id="section-jump-4" class="progress-indicator__list__section">
                        <h2 class="progress-indicator__list__section__heading--current"><a data-nav-position="4 of 5:">
                            Annual tax return (CT600)
                            
                                <span class="visuallyhidden"> - current step</span>
                            
                        </a></h2>
                        
                            
                                
                                    <ul>
                                    
                                    </ul>
                                
                            
                        
                    </li>
                

                    <li id="section-jump-5" class="progress-indicator__list__section">
                        <h2 class="progress-indicator__list__section__heading--inactive">
                            Company Tax Submit
                            </h2>
                        
                            
                                
                            
                        
                    </li>
                
            
        </ul>
    </div>