<table width="100%" class="dashboard-basic">
  <thead>
    <th>Period</th>
    <th>Submission recipient(s)</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </thead>
  <tr>  
      <td><h2 class="heading-medium">1 May 2013 to 30 October 2014</h2></td>
      <td class="status">Companies House</td>
      <td class="status">Ready to submit</td>
      <td><a href="#">Resume</a></td>     
  </tr>
  <tr>  
      <td><h2 class="heading-medium">1 May 2013 to 30 April 2014</h2></td>
      <td class="status">HMRC</td>
      <td class="status">Ready to submit</td>
      <td><a href="#">Resume</a></td>     
  </tr>
  <tr>  
      <td><h2 class="heading-medium">1 May 2014 to 30 October 2014</h2></td>
      <td class="status">HMRC</td>
      <td class="status">Ready to submit</td>
      <td><a href="#">Resume</a></td>     
  </tr>
</table>
