<form method="POST" action="/profitandloss">
    

<div class="cato-financial"> <!-- Wrapping this div around P+L, Balance Sheet so we can target them specifically-->


<div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          &nbsp;
        </div>
      </div>
<div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2013<span class="currency">&pound;</span></h3>        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2012<span class="currency">&pound;</span></h3>        </div>
      </div>
</div>



 
<!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Lorem ipsum <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Lorem ipsum previous
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>This help is displayed on clicking the link and is shown across the whole screen. This help is displayed on clicking the link and is shown across the whole screen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus at nisi non fermentum. Ut quis felis urna.</p>
    <ul class="list-bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nunc maximus at nisi non fermentum. Ut quis felis urna.</li>
    </ul>
</div><!--End of div class="hidden-help"-->
  <!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Cras consequat <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Cras consequat
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat, ligula eget convallis porta, leo quam volutpat turpis, vel porta nulla eros eleifend sapien. Cras luctus odio erat, sed aliquam tortor consequat sit amet. Mauris posuere vehicula vehicula. Duis quis magna massa. </p>
</div><!--End of div class="hidden-help"-->
  <!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Aliquam vehicula facilisis magna <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Aliquam vehicula facilisis magna
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>Etiam viverra risus eu condimentum imperdiet. Sed sit amet convallis sapien. Vestibulum vel odio consequat, ornare arcu dignissim, sollicitudin arcu. Maecenas commodo neque ligula, quis imperdiet nisi egestas ac. Duis leo augue, euismod quis lacus ut, ultricies porttitor felis.</p>
    <p>Nam feugiat diam malesuada mi porttitor, quis cursus ligula scelerisque. Pellentesque id risus porttitor, pulvinar turpis in, aliquam mi. Fusce sed enim id urna malesuada fermentum. </p>
</div><!--End of div class="hidden-help"-->
  <!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Pellentesque habitant <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Pellentesque habitant
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>Phasellus sodales lacus sed porttitor gravida. Morbi porttitor malesuada lacinia. Quisque ullamcorper, elit vel bibendum imperdiet, turpis felis pharetra lorem, non efficitur purus risus et nulla. Aliquam vel consequat ligula. Nullam sed ante mi. Integer quis tempus dolor, varius mattis nunc. Proin condimentum tortor mauris, vitae finibus mauris venenatis quis. Nunc vel dolor non augue porttitor eleifend a at felis.</p>
</div><!--End of div class="hidden-help"-->
  <!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
             Duis mattis pellentesque dolor non accumsan aliquam consectetur tellus vel malesuada <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Duis mattis pellentesque dolor non accumsan aliquam consectetur tellus vel malesuada
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>Pellentesque id risus porttitor, pulvinar turpis in, aliquam mi. Fusce sed enim id urna malesuada fermentum.</p>
</div><!--End of div class="hidden-help"-->
  






<!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Morbi porttitor malesuada lacinia <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Morbi porttitor malesuada lacinia
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->


<div class="hidden-help">
    <p>This help is displayed on clicking the link and is shown across the whole screen. This help is displayed on clicking the link and is shown across the whole screen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus at nisi non fermentum. Ut quis felis urna.</p>
    <ul class="list-bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nunc maximus at nisi non fermentum. Ut quis felis urna.</li>
    </ul>
</div><!--End of div class="hidden-help"-->
    

<!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 




</div><!-- End div class="cato-financial"-->
        

    
</form>





    




