<br />
<br />

<form action="/advancesandcreditfootnote" method="POST" class="form" >

    <div class="form-group">
        <p>You’ll be able to use this service in the next few months if your organisation is a:</p>

        <ul class="list-bullet">
            <li>charity with income below £6.5 million</li>
            <li>community amateur sports club (CASC)</li>
            <li>company in liquidation</li>
        </ul>

        <p>You can use HM Revenue and Customs’ <a href="https://online.hmrc.gov.uk/corporation-tax/org/2419905708/ct600/digitaladvert" target="_blank" rel="external">
            PDF filing software</a> to file your tax return and accounts until then. </p>

        <p>You can’t use this service to file your company accounts and tax return. You can file separately with
        <a href="https://gov.uk/file-an-annual-return-with-companies-house" target="_blank" rel="external">Companies House</a>, or you can
            <a href="https://www.gov.uk/company-filing-software/overview" target="_blank" rel="external"> use accounting software</a>.</p>


        <h2 class="header-medium">Other filing options</h2>
            <p>You can also <a href="https://www.gov.uk/government/publications/corporation-tax-commercial-software-suppliers#" target="_blank" rel="external">
                use tax software to file your tax return to HMRC</a>.</p>

            <p>And you can <a href="https://www.gov.uk/file-an-annual-return-with-companies-house" target="_blank" rel="external">file your accounts on
                the Companies House website</a>, or use <a href="https://www.gov.uk/company-filing-software/overview" target="_blank" rel="external">accounting software</a>.</p>


    </div>

</form>
