<h1 class="heading-large" style="margin-bottom: 5px;">HMRC submission for 2013-2014</h1>
<p>Accounting period: 1 October 2013 - 30 September 2014</p>

<div class="conf-box">

	<p><img src="/public/images/icons/crests/hmrc_crest_27px.png"> HM Revenue &amp; Customs</p>

	<h2 class="heading-medium">Successfully submitted to HMRC</h2>

	<p><b class="strong">Status</b><br />
		Accepted
	</p>

	<p><b class="strong">Submission date:</b> 31 March 2014</b><br />
		<b class="strong">Time:</b> 23:59:59
	</p>

	<p><b class="strong">Submission contents</b><br />
		Accounts (Full)<br />
		Computations<br />
		Annual tax return (CT600)
	</p>

	<p style="margin-bottom: 0;"><b class="strong">Your correlation ID</b><br />
		120/BC09254
	</p>

</div>

<h3 class="heading-medium" style="margin-top: 30px; margin-bottom: 10px;">Download your submission</h3>
<p><a href="">HMRC submission 2012-2013.pdf</a> (PDF, 124 KB)</p>

<b class="strong">Submission attachments</b>
<ul>
	<li><a href="">Some document</a> (PDF, 97 KB)</li>
</ul>

<h3 class="heading-medium" style="margin-top: 30px; margin-bottom: 10px;">Amendments</h3>

<p>The amendment deadline for this submission passed on 31 March 2015.</p>

<input type="submit" value="Amend submission" class="button disabled">

<p><a href="/">Back</a></p>