<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}




</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <div class="form-group">
        <fieldset class="form-group inline" id=1">

            <p>You can't use this service to report capital allowances in your special or single asset pools, except cars.
                If you're not sure what these are, you can find out more about
                <a href="https://www.gov.uk/capital-allowances/overview" target="_blank" rel="external">capital allowances</a>.
            </p>


            <ul>
                <li>
                    <label for="yes"  class="block-label">Yes - I need to report these assets
                        <input type="radio" id="yes" name="selectedType" value="1"/>
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="no"  class="block-label">No - I don't need to report these
                        <input type="radio" id="no" name="selectedType" value="2"/>
                    </label>
                </li>

            </ul>

        </fieldset>
    </div>
        
</form>
  