<p>A note about commitments by way of guarantee, and how they are optional. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet arcu eu aliquam gravida. Ut pretium nunc eros, convallis facilisis nisi tristique non.</p>

<form action="/guaranteecommitmentsfootnote" method="POST" class="form">

    <div class="form-group">
        <label class="form-label visuallyhidden" for="national-insurance">commitments by way of guarantee</label>
        <textarea class="form-control"></textarea>
    </div>

</form>
