<style>
.help-link:after, .help-link:visited:after {
  background-color: #2e8aca;
  color: #fff;
  content: '?';
  position: relative;
  width: 24px;
  height: 22px;
  display:  inline-block;
  top: 1px;
  text-align:center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
  vertical-align: top;
  padding-top: 2px;

}

a.help-link, a.help-link:visited {
  text-decoration: none;
  color: #0B0C0C;
}

a.help-link:hover {
  text-decoration: underline;
  color: #2e8aca;
}

.hidden-help, .js-disabled-hidden-help {
  font-size: 16px;
  margin-top: 1em;
  border-left: 0.3em solid #bfc1c3;
  padding-left: 1em;
  display: block;
  color: #6f777b;
}

.block-summary, .block-addition {
  padding: 10px 0 !important;
  margin-bottom: 1em;
  clear: both;
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3;
}

.block-summary__edit-link, .block-summary__text {
  display: inline-block;
}
.block-summary__edit-link {
  width: 10%;
  text-align: right;
}
.block-summary__text {
  display: inline-block;
  width: 89%;
}

</style>


<form method="POST" action="/accountsapprove" class="form">
    <br />

    <div class="form-group">
        <fieldset id="paymentDate">
            <p>We need to know this so we can work out whether you can reclaim Corporation Tax
                for loans as part of this tax return.</p>
            <small class="hidden-help" id="late2Help"><p>We only need to know the date of the most recent repayment</p></small>
            <div class="date-of-birth">
                <div class="form-group">

                    <label for="userStartDate.day" class=" label--dateField-group">
              <span class="label__text">
                  Day
              </span>
                    </label>
                    <input type="text" class="input--xxsmall form-control" ng-model="userStartDate.day" init-value-on-scope="" name="userStartDate.day" id="userStartDate.day" value="">

                </div>

                <div class="form-group flush--bottom">

                    <label for="userStartDate.month" class=" label--dateField-group">
              <span class="label__text">
                  Month
              </span>
                    </label>
                    <input type="text" class="input--xxsmall form-control" ng-model="userStartDate.month" init-value-on-scope="" name="userStartDate.month" id="userStartDate.month" value="">

                </div>

                <div class="form-group form-group-year">
                    <label for="userStartDate.year" class=" label--dateField-group">
              <span class="label__text">
                  Year
              </span>
                    </label>
                    <input type="text" class="input--xsmall form-control" ng-model="userStartDate.year" init-value-on-scope="" name="userStartDate.year" id="userStartDate.year" value="">
                </div>
            </div>
        </fieldset>
    </div>
</form>
  