   <div class="submission">
      <p><img src="/public/images/icon-red-failure-2x.png" alt="">Submission rejected</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  <strong>&#60;Company name&#62;</strong> integer vitae bibendum risus.</p> 
      <p>Nam posuere lacus arcu, ac facilisis tellus tincidunt vitae<span>Duis tincidunt porttitor urna</span></p>
      </div>
      
      <p class="heading-medium">Important</p>
      <ul class="list-bullet">
      <li>Etiam turpis eros, vulputate eu magna consectetur.</li>
      <li>Donec tempus pellentesque scelerisque.</li>
      <li>Praesent sit amet turpis ipsum. </li>
      </ul>