<p>Information entered here will be included in the Directors' Report.</p>

<div class="form-group">
<fieldset class="inline">
  <legend class="form-label-bold">Have any directors served throughout the period?</legend>
  <div class="form-group form-group-related">
    <label data-target="" class="block-label" for="yes">
      <input type="radio" value="Yes" name="yes" id="yes">
      Yes
    </label>
    <label class="block-label" for="no">
      <input type="radio" value="No" name="no" id="no">
      No
    </label>
  </div>
</fieldset>
<input type="submit" class="button" value="Next" id="submit">
</div>

<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->


<div class="form-group">
          <label for="" class="form-label-bold">Enter the name of the director that served throughout the period</label>
          <p class="form-hint">For example, "John Smith"</p>
          <input type="text" id="full-name" class="form-control">
</div>



<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->


<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->


<div class="form-group">
          <label for="" class="form-label-bold">Enter the name of the director that was appointed during the period</label>
          <p class="form-hint">For example, "John Smith"</p>
          <input type="text" id="full-name" class="form-control">
</div>
<div class="form-group">
          <fieldset>
            <legend class="form-label-bold">Date appointed</legend>

            <div class="date-of-birth">
              <p class="form-hint">For example, 31 03 2014</p>

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input type="text" id="dob-day" class="form-control">
              </div>
              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input type="text" id="dob-month" class="form-control">
              </div>
              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input type="text" id="dob-year" class="form-control">
              </div>
            </div>

            <div class="date-of-birth native-date-of-birth">
              <p class="form-hint">For example, 08 April 2014</p>
              <input type="date" class="form-control">
            </div>

          </fieldset>
       <input type="submit" class="button" value="Next" id="submit">
 </div>


<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->

<div class="form-group">

  <label for="" class="form-label-bold">Do you want provide the name of a company secretary? (optional)</label>
          <p class="form-hint">Not all companies will have a company secretary.</p>
          <input type="text" id="full-name" class="form-control">

</div>            
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->







<div class="form-group">
<ul>
    <li><a id="addAnother_servedDirector" class="block-addition__link" href="/cato/edit/servedDirector/1#continue">Add another Director</a></li>
</ul>
<input type="submit" class="button" value="Continue">
</div>

<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->
<p>&nbsp;</p> <!--Should not be used on actual screens!-->
<!--Adding spacing here, just to separate the elements so they are easier to distinguish on screen-->