<style>

    .grid-wrapper h2 {
        font-family: nta, Arial, sans-serif;
        font-size: 24px;
        line-height: 1.25;
        text-transform: none;
        font-weight: 700;
    }

    .flush--left {
        margin-left: 0 !important;
    }

    .progress-indicator__list-item--active:after, .progress-indicator__list-item--current:after {
        color: #00823b;
    }
    .progress-indicator__list-item--current a {
        font-weight: 700;
        color: #0b0c0c;
    }

</style>

<div class="inner-block flush--left">
    <ul class="progress-indicator__list">
        <li id="section-jump-1" class="progress-indicator__list__section">
            <h2 class="progress-indicator__list__section__heading--active">
                <a data-nav-position="1 of 5:" href="#">
                    Accounts
                </a>
            </h2>

            <ul>
                <li id="block-group-jump-1-1"class="progress-indicator__list-item--active" data-icon="✔">
                    Upload your accounts in PDF
                </li>
            </ul>
        </li>



        <li id="section-jump-3" class="progress-indicator__list__section">
            <h2 class="progress-indicator__list__section__heading">
                Computations
            </h2>


            <ul>
                <li id="block-group-jump-3-1" class="progress-indicator__list-item">
                    Computations Apportionment
                </li>

                <li id="block-group-jump-3-2" class="progress-indicator__list-item">
                    Trading account details
                </li>

                <li id="block-group-jump-3-3" class="progress-indicator__list-item">
                    Expenses
                </li>

                <li id="block-group-jump-3-4" class="progress-indicator__list-item">
                    Detailed profit and loss
                </li>

                <li id="block-group-jump-3-5" class="progress-indicator__list-item">
                    Capital allowances / balancing charges
                </li>

                <li id="block-group-jump-3-6" class="progress-indicator__list-item">
                    Income from property
                </li>

                <li id="block-group-jump-3-7" class="progress-indicator__list-item">
                    Trading losses
                </li>

                <li id="block-group-jump-3-8" class="progress-indicator__list-item">
                    Charitable donations
                </li>

                <li id="block-group-jump-3-9" class="progress-indicator__list-item">
                    Profits chargeable to Corporation Tax
                </li>

                <li id="block-group-jump-3-10" class="progress-indicator__list-item">
                    Summary
                </li>

            </ul>

        </li>


        <li id="section-jump-4" class="progress-indicator__list__section">
            <h2 class="progress-indicator__list__section__heading">
                CT600
            </h2>

            <ul>
                <li id="block-group-jump-4-1" class="progress-indicator__list-item">
                    Claiming Marginal Rate Relief (MRR) or Small Companies Rate (SCR)
                </li>

                <li id="block-group-jump-4-2" class="progress-indicator__list-item">
                    Loans to Participators
                </li>

                <li id="block-group-jump-4-3" class="progress-indicator__list-item">
                    Tax calculation
                </li>

                <li id="block-group-jump-4-4" class="progress-indicator__list-item">
                    Final calculation
                </li>

                <li id="block-group-jump-4-5" class="progress-indicator__list-item">
                    Corporation Tax already paid
                </li>

                <li id="block-group-jump-4-6" class="progress-indicator__list-item">
                    Tax avoidance
                </li>

                <li id="block-group-jump-4-7" class="progress-indicator__list-item">
                    Return statements questions
                </li>

                <li id="block-group-jump-4-8" class="progress-indicator__list-item">
                    Small repayments
                </li>

                <li id="block-group-jump-4-9" class="progress-indicator__list-item">
                    Bank Details
                </li>

                <li id="block-group-jump-4-10" class="progress-indicator__list-item">
                    CT600 summary
                </li>

            </ul>

        </li>


        <li id="section-jump-6" class="progress-indicator__list__section">
            <h2 class="progress-indicator__list__section__heading--inactive">
                Company Tax Submit
            </h2>
        </li><!--

        &nbsp;

        <li id="section-jump-5" class="progress-indicator__list__section">
            <h2 class="progress-indicator__list__section__heading&#45;&#45;inactive">
                Attachments
            </h2>

            <ul>
                <li id="block-group-jump-5-1" class="progress-indicator__list-item">
                    Supplementary documents
                </li>
            </ul>

        </li>-->


    </ul>
</div>