<style type="text/css">

.block-summary, .block-addition {
    background-color: #fff;
    border-bottom-color: #bfc1c3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    margin-bottom: 1em;
    padding-bottom: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
}

.block-summary__edit-link, .block-summary__text {
    display: inline-block;
}
.block-summary__text {
    width: 89%;
}
.block-indent {
    margin-left: 2em;
}
.warning-overview {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffcc;
    border-bottom-color: #ffbf47;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ffbf47;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #ffbf47;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #ffbf47;
    border-top-style: solid;
    border-top-width: 3px;
    margin-bottom: 20px;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
}
.warning-overview__heading {
    font-size: 22px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.warning-overview__list-item {
    color: #0b0c0c;
    font-size: 15px;
    margin-left: 20px;
}
.warning-overview__list-item a {
    color: inherit;
}

.form-field--warning.numbered {
    margin-left: 22px !important;
    width: 90%;
}
.contains-warning .form-field--warning {
    clear: both;
}
.warning-notification {
    color: #0b0c0c;
    display: block;
    font-family: nta,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 1em;
    text-transform: none;
}


</style>

<h1 class="heading-xlarge">Officers of the company</h1>

<p class="warning-overview">Changes made here only apply to your accounts, not your Companies House records. You will need to <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house " target="_blank">tell Companies House about changes to your company</a> separately.</p>
  
<div class="block-summary" id="servedDirectorQuestionSummary">
    <div class="block-summary__text">Director(s) served throughout the whole period.</div>
        <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/served-director-question#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
    </div>

    The following director(s) served throughout the whole period:
    
    <div class="block-summary block-indent" id="servedDirectorSummary_0">
    
    <div class="block-summary__text">John Smith</div>
        <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/served-director/0#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
        
    </div>
    
    <div id="servedDirectorSummary_0" class="block-summary block-indent">
                    
                    <div class="block-summary__text">Dr James Smith</div>
                        <a class="block-summary__edit-link" href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/served-director/0#continue"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
                        
                    </div>
    

    
    
    <div class="block-addition block-indent">
        <a id="addAnother_servedDirector" class="block-addition__link" href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/served-director/1#continue">Add another director</a>
    </div>

    <div class="block-summary" id="appointedDirectorQuestionSummary">
        <div class="block-summary__text">
        Director(s) were appointed during the period.        </div>
        <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/appointed-director-question#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
    </div>

	The following director(s) were appointed during the period:

    <div class="block-summary block-indent" id="appointedDirectorSummary_0">
 		<div class="block-summary__text">Director: Pauline Smith<br>Appointed on: 15 October 2013</div>
        <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/appointed-director/0#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
   	</div>
    
    <div id="appointedDirectorSummary_0" class="block-summary block-indent">
                 		<div class="block-summary__text">Director: Arthur White <br>Appointed on: 12 September 2013</div>
                        <a class="block-summary__edit-link" href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/appointed-director/0#continue"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
                   	</div>

    <div class="block-addition block-indent">
        <a id="addAnother_appointedDirector" class="block-addition__link" href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/appointed-director/1#continue">Add another appointed director</a>
    </div>

    <div class="block-summary" id="resignedDirectorQuestionSummary">
        <div class="block-summary__text">Director(s) resigned during the period.</div>
            <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/resigned-director-question#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
        </div>

	The following director(s) resigned during the period:

    <div class="block-summary block-indent" id="resignedDirectorSummary_0">
    <div class="block-summary__text">Director: Edward David Jones<br>Resigned on: 15 October 2013 </div>
		<a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/resigned-director/0#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
   	</div>

    <div class="block-addition block-indent">
        <a id="addAnother_resignedDirector" class="block-addition__link" href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/resigned-director/1#continue">Add another resigned director</a>
    </div>

    <div class="block-summary" id="secretarySummary">
        <div class="block-summary__text">
        Company secretary: Lisa Smith
    </div>
        
    <a href="/cato/filing/5571536f2a00008401180fa2/full-accounts-section/officers-group/secretary#continue" class="block-summary__edit-link"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
</div>


<div class="form-group" id="endOfBlockGroupSummary">
     
<form id="blockGroupSummaryForm" method="GET" action="/cato/filing/5571536f2a00008401180fa2/next">
        <input type="hidden" value="f52411586ac72a97f3398d3fd6a175ce383b729e-1433490440207-c261de8e56184eb904d7c63e" name="csrfToken">
        <input type="submit" id="submit" class="button" value="Save and continue">
</form>

</div>


  