<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <div class="form-group" id="q_5">
        <fieldset class="form-group" id="5">
            <p>Answer these questions to find out how you can file your company accounts and tax return. </p>
            <h3 style="width: 620px; margin-bottom:5px;">Was your turnover more than £6.5 million a year in the period you want to file for? </h3>
            <ul>
                <li>
                    <label for="yes" class="block-label form-radio">
                        <input type="radio" value="yes" name="yesno" id="yes">
                        Yes - turnover was more than £6.5 million a year
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="no" class="block-label form-radio">
                        <input type="radio" value="no" name="yesno" id="no">
                        No - turnover was £6.5 million a year or less
                    </label>
                </li>

            </ul>

        </fieldset>
    </div>
        
</form>
  