<h2 class="heading-large">Submissions not yet started</h2>


<table id="dashboard-ready" class="single">
	<thead>
		<th>Period</th>
	     <th class="logo" width="225"><img src="/public/images/icons/crests/org_crest_27px.png" />Companies House</td>
	     <th class="logo" width="225"><img src="/public/images/icons/crests/hmrc_crest_27px.png" />HM Revenue &amp; Customs</td>
		<th width="88">&nbsp;</th>
	</thead>	
	<tr>
		<td>
			<p>1 May 2013 to 30 April 2014</p>
			<div>As you have already completed your Companies House accounts for this period, we can copy these to your HMRC submission.</div>
		</td>
		<td>
      		<p class="due">Due by<br /><b class="strong">30 April 2015</b></p>
			<div class="days-left">2 months left</div>
		</td>
		<td>
      		<p style="color: grey">N/A - Already completed</p>
		</td>
		<td><a href="">Start</a></td>
	</tr>
	<tr>
		<td>1 May 2014 to 30 April 2015</td>
		<td>
      		<p class="due">Due by<br /><b class="strong">31 January 2016</b></p>
			<div class="days-left">1 year left</div>
		</td>
		<td>
      		<p class="due">Due by<br /><b class="strong">30 April 2016</b></p>
			<div class="days-left">16 months left</div>
		</td>
		<td><a href="">Start</a></td>
	</tr>
</table>