<!--[if lt IE 8 ]><link rel='stylesheet' href='/public/stylesheets/application-ie7.css' /><![endif]-->
<!--[if IE 8 ]><link rel='stylesheet' href='/public/stylesheets/application-ie.css' /><![endif]-->
<!--[if gt IE 8]><!--><link rel="stylesheet" href="/public/stylesheets/application.css"><!--<![endif]-->

<!--[if gt IE 8]><!--><link href="/public/stylesheets/cato.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
<!--[if IE 6]><link href="/public/stylesheets/cato-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="/public/stylesheets/cato-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="/public/stylesheets/cato-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<style type="text/css">
    #global-header-bar
    {
        display: none;
    }
</style>