<div class="header-proposition">
  <div class="content">
<!--    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>--> 
   <nav id="proposition-menu">
      <a href="/" id="proposition-name">Help - File your company accounts and tax return</a>
<!--      <ul id="proposition-links">
        <li><a href="/">Digital by Default Service Standard</a></li>
        <li><a href="/">Start using the manual</a></li>
        <li><a href="/">Feedback</a></li>
      </ul>-->
    </nav>
  </div>
</div>
