<h2 class="heading-large">Start a new filing</h2>

<p>You can't start a new filing for Companies House until you submit your current filing. But you can start a new filing for HM Revenue and Customs (HMRC).</p>

<p><a href="#">Start a new HMRC filing</a></p>
<!--<input type="submit" value="Start new HMRC filing" class="button">-->

<!--

VARIATIONS:
Can start joint
Can’t Can start CoHo
Can start HMRC


LOGIC:
Nothing in progress
You can start a joint/HMRC-only/Coho-only filing.

Joint/CoHo only in progress
Until you have submitted your in-progress submission, you can not start any further joint/coho-only filings, though you could start an HMRC only filing

HMRC only in progress
If the AP isn’t the ‘current one’, you can start a joint/HMRC-only/Coho-only filing.
If it is the current AP, you can only start a CoHo only one.

-->