<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}

.secondaryTextColour {
    color: #6f777b;
}

</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <div class="form-group" id="q_5">
        <fieldset class="form-group" id="5">
            <span class="form-hint">You can also <a href="https://www.gov.uk/file-an-annual-return-with-companies-house" target="_blank" rel="external">
                file your accounts on the Companies House website</a>, or
                <a href="https://www.gov.uk/company-filing-software/overview" target="_blank" rel="external">
                    use accounting software instead</a>. </span>
            <ul>
                <li>
                    <label for="q1"  class="block-label">Yes - I want to file my accounts with Companies House now
                        <input type="radio" id="q1" name="q" value="1"/>
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="q2"  class="block-label">No - I'll file my accounts with Companies House another way
                        <input type="radio" id="q2" name="q" value="2"/>
                    </label>
                </li>

            </ul>

        </fieldset>
    </div>
        
</form>
