
<br />

<form method="POST" class="form">
  
    <div class="form-group" id="participators">
        <fieldset>
        <!--<p class="form-hint">It’s a close company if it’s controlled by 5 or fewer participators, or controlled by any number of directors.</p>-->

        <fieldset id="questions" class="inline">
            <p>
                <span class="text--center box-number"><span class="visuallyhidden">Box</span> LPQ04</span>
            </p>

            <label class="block-label" for="yes">
            <input id="yes" type="radio" name="radio-inline-group1" value="Yes">
              <!--Yes - the company is controlled by directors, or 5 or fewer participators-->
                Yes
            </label>
            <label class="block-label" for="no">
            <input id="no" type="radio" name="radio-inline-group1" value="No">
              <!--No - the company is controlled by someone else-->
                No
            </label>
        </fieldset>

        </fieldset>
    </div>


</form>
  