<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}




</style>

<br />

<form method="POST" class="form">

    <div class="form-group">
        <p>Not every type of organisation can file their accounts and tax return with this service.
            Answer the questions on these pages to check whether or not you can file here.</p>
    </div>

    <div class="form-group">
        <fieldset class="form-group inline" id=1">
            <legend class="form-label-bold">What is your organisation?</legend>
            <br />

            <div class="roleDiv">
                <label for="1" class="block-label ">
                    <input type="radio" value="Executor" name="radio-inline-role" id="1">
                    Private limited company<br />
                    It sells goods or services and its shares aren’t traded on the stock exchange
                </label>
            </div>

            <div class="roleDiv">
                <label for="2" class="block-label ">
                    <input type="radio" value="Executor" name="radio-inline-role" id="2">
                    Company limited by guarantee<br />
                    It has members instead of shares and shareholders
                </label>
            </div>

            <div class="roleDiv">
                <label for="3" class="block-label ">
                    <input type="radio" value="Executor" name="radio-inline-role" id="3">
                    Unincorporated association eg members' club<br />
                    It’s a non-profit organisation that's not registered with Companies House
                </label>
            </div>

            <div class="roleDiv">
                <label for="4" class="block-label ">
                    <input type="radio" value="Executor" name="radio-inline-role" id="4">
                    Any other type of organisation<br />
                    Including non-company charities and community amateur sports clubs (CASCs)
                </label>
            </div>


        </fieldset>
    </div>
        
</form>
  