   <div class="submission">
      <p><img src="/public/images/icon-red-failure-2x.png" alt="">Submission failed</p>
      <p>The Accounts for <strong>&#60;Company name&#62;</strong> have been successfully submitted to and received by Companies House at &#60;HH.MM GMT&#62; on &#60;dd/mm/yyyy&#62;.</p>
      <p>Your submission receipt reference number is: <span>submission number from CH XML gateway</span></p>
      </div>
      
      <p class="heading-medium">Important</p>
      <ul class="list-bullet">
      <li>You will need to save these &#60;accounts type&#62; accounts as evidence of your successful submission.</li>
      <li>Companies House recommend that you keep a copy of your successfully submitted &#60;accounts type&#62; accounts that will include this submission receipt reference number.</li>
      </ul>