
<h2 class="heading-large">History</h2>

<p>Any submissions made in the past using this service will be shown below. Submissions made with other tools will not be shown.</p>
<p>You are able to submit amendments to previous submissions - for example if you need to update the value of losses brought back or a capital allowance claim. You can only make amends within 12 months of the original filing deadline and these submissions will only be send to HMRC; <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company/corrections-and-amendments">Companies House amendments need to be sent on paper</a>.</p>

<table>
  <thead>
    <td>Period ▼</td>
    <td>Contents</td>
    <td>Tax payable</td>
    <td>Submission date</td>
    <td width="">&nbsp;</td>
  </thead>