<br /> <!--Don't copy this <br /> tag!-->

<!--
<p>
	<a id="startFilingJoint" role="button" class="button" href="/cato/start/JoinedMicroEntity">Start filing - HMRC and Companies House</a><br />
    <a id="startFilingHmrcHref" role="button" class="button" href="/cato/start/HmrcMicroEntity">Start filing - HMRC only</a><br>
  	<a id="startFilingChHref" role="button" class="button" href="/cato/start/CompaniesHouseMicroEntity">Start filing - Companies House only</a>
</p>-->

<h2 class="heading-large">Period of accounts: 1 May 2013 to 31 August 2014</h2>
<p style="margin-bottom:0">Your accounting year for Companies House ('period of accounts') doesn't match your tax year for HM Revenue and Customs ('accounting periods'). Your period of accounts covers 2 accounting periods - you'll need to file company accounts and returns for both accounting periods. </p>

<h3 class="heading-medium">First accounting period: [start date] to [end date]</h2>

<p style="margin-bottom:0">Your computations and tax return for this accounting period will cover the first 12 months of your period of accounts. Your accounts will cover the full period of accounts: [start date] to [end date].</p>

<p><a href="">Continue filing</a></p>

<table width="100%" class="dashboard-current">
  <tr>  
      <td style="width:704px">
          <p style="margin: 10px 0"></p>
      </td>
      <td class="logo" width="225"><img src="/public/images/icons/crests/org_crest_27px.png" />Companies House</td>
      <td class="logo" width="225"><img src="/public/images/icons/crests/hmrc_crest_27px.png" />HM Revenue and Customs</td>
  </tr>
  <tr>
      <td style="border-bottom: 1px solid #e2e2e2">
        <p><b class="strong">Period of accounts</b>: 1 May 2013 to 31 August 2014</p>
        <h1 class="heading-medium"><span>1</span> <a href="#">Accounts</a></h1>
        <p class="desc help" id="accountsHelp">You're ready to submit your accounts to Companies House and HM Revenue and Customs.</p>
      </td>
      <td class="status period-specific">Ready to submit</td>
      <td class="status period-specific">Ready to submit</td>
  </tr>
  <tr>
      <td>
        <p><b class="strong">Accounting period</b>: 1 May 2013 to 30 April 2014</p>
        <h1 class="heading-medium"><span>2</span> <a href="#">Computations</a></h1>
        <p class="desc help" id="compsHelp">Finish your Corporation Tax calculations.</p>
      </td>
      <td class="status not-applicable period-specific">Not required</td>
      <td class="status period-specific">In progress</td>
  </tr>
  <tr class="end">
      <td>
        <h1 class="heading-medium"><span>3</span> Annual tax return (CT600)</h1>
        <p class="desc help" id="returnHelp">Start your company tax return.</p>
      </td>
      <td class="status not-applicable">Not required</td>
      <td class="status period-specific">Not started</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style=""><input type="submit" value="Submit to Companies House" class="button" /></td>
    <td style=""><input type="submit" value="Not ready to submit to HMRC" class="button secondary" disabled="disabled" /></td>
</table>


<br />

<h3 class="heading-medium">Second accounting period: [start date] to [end date]</h3>
<p style="margin-bottom:0">
<p>Your computations and tax return for this accounting period will cover the last 4 months of your period of accounts. Your accounts will cover the full period of accounts: [start date] to [end date]. You've already filled in your accounts for this period of accounts.</p>
<p><a href="#">Start filing</a></p>

<br />
<br />

<h2 class="heading-large">Start a new filing to HM Revenue and Customs</h2>
<p>You can't start a new filing to Companies House until you submit your current filing. But you can start a new HMRC filing for a different accounting period. </p>

<p><a href="#">Start a new HMRC filing</a></p>

<br />
<br />


{{>cato_dashboard_previous_submissions}}