<br /> <!--Don't copy this <br /> tag!-->

<!--
<p>
	<a id="startFilingJoint" role="button" class="button" href="/cato/start/JoinedMicroEntity">Start filing - HMRC and Companies House</a><br />
    <a id="startFilingHmrcHref" role="button" class="button" href="/cato/start/HmrcMicroEntity">Start filing - HMRC only</a><br>
  	<a id="startFilingChHref" role="button" class="button" href="/cato/start/CompaniesHouseMicroEntity">Start filing - Companies House only</a>
</p>-->

<h2 class="heading-large">Filing in progress</h2>

<p><a href="#">Continue filing</a></p>

{{>cato_dashboard_current_submission_hmrc_only}}

<br />

<h2 class="heading-large">Start a new filing</h2>

<p>You can't start a new joint filing for Companies House and HM Revenue and Customs (HMRC) until you submit your current filing. But you can start a new single filing to HMRC or Companies House separately. </p>

<p><a href="#">Start new filing</a></p>


<p>You've already filled in your accounts for the [start date] to [end date] company tax year (HMRC's 'accounting period'). You can choose to import these figures into your new filing to [org] for this period.</p>


<br />
<br />

{{>cato_dashboard_previous_submissions}}