<style>
    details .summary {
        text-decoration: underline;
    }
    details summary:hover {
        color: #2e8aca;
    }
    details summary {
        display: inline-block;
        color: #005ea5;
        cursor: pointer;
        position: relative;
        margin-bottom: 0.26316em;
    }

    .red-bg-color{
        background-color: #D61220;
        margin-right: 0px;
    }

    .grey_bg{
        background-color: #666666;
    }
</style>

<br />


    <div>
        <!--<div class="grey_bg" style=" float: left; padding: 2.5em"><img src="/public/images/icon-document-white.png"/></div>-->
        <div>
            <!--{{#isCoHo}}
            <ol>
                <li>You need to prepare accounts before you start filing.</li>
                <li>You’ll find it easier to file if you use the same accounting terms as these <a href="to come">template accounts</a>.</li>
                <li>Your accounts also need to be rounded to whole numbers. Round up expenses. Round down income. </li>
            </ol>
            {{/isCoHo}}

            {{#isHMRC}}
            <ol>
                <li>You need to prepare accounts before you start filing.</li>
                <li>You’ll find it easier to file if you use the same accounting terms as these <a href="to come">template accounts</a>.</li>
                <li>Your accounts also need to be rounded to whole numbers. Round up expenses. Round down income. </li>
            </ol>
            {{/isHMRC}}

            {{#isJoint}}
            <ol>
                <li>You need to prepare accounts before you start filing.</li>
                <li>You’ll find it easier to file if you use the same accounting terms as these <a href="to come">template accounts</a>.</li>
                <li>Your accounts also need to be rounded to whole numbers. Round up expenses. Round down income. </li>
            </ol>
            {{/isJoint}}-->


            {{#isCharities}}

            {{/isCharities}}

            <p>You'll need your accounts prepared already, with figures rounded to whole numbers. Round down income, and round up spending.</p>

        </div>

    </div>



