<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <div class="form-group" id="q_5">
        <fieldset class="form-group" id="5">
            <!--<legend class="form-label-bold">Is your company a commercial property management company?</legend>-->

            <p class="form-hint">These companies generate income from looking after property on behalf of the owner.</p>

            <ul>
                <li>
                    <label for="type9"  class="block-label">Yes - it’s a property management company
                        <input type="radio" id="type9" name="q5" value="1"/>
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="type10"  class="block-label">No - it’s not a property management company
                        <input type="radio" id="type10" name="q5" value="2"/>
                    </label>
                </li>

            </ul>

        </fieldset>
    </div>
        
</form>
  