<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <div class="form-group" id="q_5">
        <fieldset class="form-group" id="5">
            <ul>
                <li>
                    <label for="type1"  class="block-label">Yes - my charity's income is £6.5 million or less
                        <input type="radio" id="type1" name="q1" value="1"/>
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="type2"  class="block-label">No - my charity's income isn't £6.5 million or less
                        <input type="radio" id="type2" name="q1" value="2"/>
                    </label>
                </li>

            </ul>

        </fieldset>
    </div>
        
</form>
  