<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}

.secondaryTextColour{
    color:#6F777B
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">
    

        <fieldset class="inline" id="ineligible-orgs">

                <div class="form-group">
                    <span class="form-label-bold" for="turnover">Enter turnover for the period: <span class="form-label-bold secondaryTextColour"> 1 January 2014 to 31 December 2014</span></span>

                    <input class="form-control" id="turnover" type="text">
                </div>
          
        </fieldset>

    <p>We need to know your turnover to find out if your company is small enough to use this service.</p>

        
</form>
  