<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">


  <legend class="form-label-bold">You are only eligible to file to Companies House</legend>

  <p>You are not eligible to file to HMRC, but can continue to file to Companies House.</p>
  <p>This service does not support everything you need to file to HMRC, you will need to file your Annual Tax Return using a third party tool.</p>

    <div class="form-group form-group-compound">
      <label class="block-label" for="nationality-british">
        <input id="nationality-british" type="checkbox" value="" checked="checked">
      Single filing - to Companies House only
      </label>
    </div>





        
</form>
  