<style type="text/css">
.dashboard-current .status {padding-left:0;}
</style>

<table width="100%" class="dashboard-current">
  <tr style="border:none;">  
      <td></td>
      <td class="logo" width="225"><div align="center"><img src="/public/images/icons/crests/org_crest_27px.png" />Companies House</div></td>
      <td class="logo" width="225"><div align="center"><img src="/public/images/icons/crests/hmrc_crest_27px.png" />HM Revenue and Customs</div></td>
  </tr>
  <tr>  
      	<td>
        <h1 class="heading-medium"><span>1</span> <a href="/cato/no_nav_with_help.html">Accounts</a></h1>
        <p class="desc help" id="accountsHelp">You need to finish your accounts to Companies House and HM Revenue and Customs.</p></td>
      	<td colspan="2" class="status"><div align="center"><a href="/cato/no_nav_with_help.html" style="padding-top:0;">In progress</a></div></td>
  </tr>
  <tr>  
      <td>
        <h1 class="heading-medium"><span>2</span> Computations</h1>
        <p class="desc help" id="compsHelp">You can't start your Corporation Tax calculations until you finish Accounts.</p></td>
      <td class="status not-applicable"><div align="center">Not required</div></td>
      <td class="status"><div align="center">Not started</div></td>
  </tr>
  <tr>  
      <td>
        <h1 class="heading-medium"><span>3</span> Annual tax return (CT600)</h1>
        <p class="desc help" id="returnHelp">You can't start your Annual tax return until you finish Computations.</p>      </td>
      <td class="status not-applicable"><div align="center">Not required</div></td>
      <td class="status"><div align="center">Not started</div></td>
  </tr>
  <tr>  
    <td>&nbsp;</td>
    <td style=""><div align="center">
      <input type="submit" value="Not ready to submit" class="button" disabled="disabled" />
    </div></td>
    <td style=""><div align="center">
      <input type="submit" value="Not ready to submit" class="button" disabled="disabled" />
    </div></td>
</table>
