<br /> <!--Don't copy this <br /> tag!-->


	<a id="startFilingJoint" role="button" class="button button-get-started" href="/cato/start/JoinedMicroEntity">Start a new filing</a>
<!--
<p>
	<a id="startFilingJoint" role="button" class="button" href="/cato/start/JoinedMicroEntity">Start filing - HMRC and Companies House</a><br />
    <a id="startFilingHmrcHref" role="button" class="button" href="/cato/start/HmrcMicroEntity">Start filing - HMRC only</a><br>
  	<a id="startFilingChHref" role="button" class="button" href="/cato/start/CompaniesHouseMicroEntity">Start filing - Companies House only</a>
</p>-->

<h2 class="heading-large">Your submissions</h2>   

<table id="status">
<caption class="visuallyhidden">Your submissions</caption>
    <thead>
        <tr>
			<th>Government agency</th>
			<th>Accounting period</th>
			<th>Submission type</th>
			<th>Submission date</th>
			<th>Status</th>
			<th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p class="visuallyhidden">Government agency</p>Companies House</td>
            <td><p class="visuallyhidden">Accounting period</p>1 April 2012 to 31 March 2013</td>
            <td><p class="visuallyhidden">Submission type</p>Accounts</td>
            <td><p class="visuallyhidden">Submission date</p>1 April 2013</td>
          	<td><p class="visuallyhidden">Status</p><a href="#">In progress</a></td>
            <td><a href="#" class="button">Resume filing</a></td>
        </tr>
        <tr>
          <td colspan="6" class="status"><span class="form-hint"><strong>In progress:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit  amet cursus sem, at lacinia quam. Nulla blandit suscipit augue vel  semper. In rutrum erat a dui sollicitudin dignissim.</span></td>
        </tr>
        <tr>
            <td><p class="visuallyhidden">Government agency</p>HMRC</td>
            <td><p class="visuallyhidden">Accounting period</p>1 April 2013 to 31 March 2014</td>
          	<td><p class="visuallyhidden">Submission type</p>Accounts, Computations and CT600</td>
          	<td><p class="visuallyhidden">Submission date</p>1 April 2014</td>
          	<td><p class="visuallyhidden">Status</p><a href="#">Submitted</a> </td>
            <td><a href="#">View filing</a></td>
        </tr>
        <tr>
            <td><p class="visuallyhidden">Government agency</p>HMRC</td>
          	<td><p class="visuallyhidden">Accounting period</p>1 April 2013 to 31 March 2014</td>
          	<td><p class="visuallyhidden">Submission type</p>Computations and CT600</td>
          	<td><p class="visuallyhidden">Submission date</p>2 April 2014</td>
          	<td><p class="visuallyhidden">Status</p><a href="#">Accepted</a> </td>
            <td><a href="#">View filing</a></td>
        </tr>
<!--        <tr>
            <td>HMRC</td>
            <td>1 April 2013 to 31 March 2014</td>
          <td>1 April 2014</td>
          <td><a href="#">Rejected</a></td>
            <td><a href="#" class="button">View filing</a></td>
        </tr>
        <tr>
            <td>HMRC</td>
            <td>1 April 2013 to 31 March 2014</td>
          <td>1 April 2014</td>
          <td><a href="#">Not submitting</a> </td>
            <td><a href="#" class="button">View filing</a></td>
        </tr>
        <tr>
            <td>Companies House</td>
          <td>1 April 2013 to 31 March 2014</td>
          <td>1 April 2014</td>
          <td><a href="#">Unknown</a> </td>
            <td><a href="#" class="button">View filing</a></td>
        </tr>-->
    </tbody>
</table>
