<style>

    .summary {
        text-decoration: underline;
    }
    .summary:hover {
        color: #2e8aca;
    }
    .summary {
        display: inline-block;
        color: #005ea5;
        cursor: pointer;
        position: relative;
        margin-bottom: 0.26316em;
    }

    .arrow-down, .arrow-side{
        margin-left:0px;
        width:25px;
        display:inline-block;
        color:#005ea5;
        cursor:pointer;
    }

    div.panel-indent{
        display: none;
    }

    .button_grey {
        background-color: #999;
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        padding: 0.3em 0.6em 0.2em 0.6em;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-box-shadow: 0 2px 0 #003518;
        -moz-box-shadow: 0 2px 0 #003518;
        box-shadow: 0 2px 0 #003518;
        font-size: 1em;
        line-height: 1.25;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        color: #fff;
        margin: 0 15px 15px 0;
        padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
        vertical-align: top;
    }


p'
</style>

<br/>

<form method="POST" action="/accountsapprove" class="form">


    <fieldset>

        <p class="flush--top">These are the details Companies House holds for your company. This information will be included with your accounts.</p>

        <section>

            <span class="arrows" style="display: inline">
                <span class="arrow-side">&#9658;</span><span class="arrow-down">&#9660;</span>
            </span>
            <span class="summary">Need to change your company details?</span>

            <div class="panel-indent" id="details-content-0" aria-hidden="false">
                <p><a href="https://ewf.companieshouse.gov.uk" target="_blank" rel="external">Log into your Companies House account</a> to change your
                    company name or registered office address.</p>
            </div>

        </section>



        <table class="table-list">
            <tbody>
            <tr>
                <th scope="row">
                    Company name
                </th>
                <td>
                    TESTCASE ADDITIONAL/SPARE-19
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Company registration number
                </th>
                <td>
                    12345678
                </td>
            </tr>
            <tr>
                <th class="text-top" scope="row">
                    Registered office address
                </th>

                <td>
                    <div>
                        1
                    </div>
                    <div>
                        1 ADDR LINE ADD/SPARE-19
                    </div>
                    <div>

                    </div>
                    <div>
                        2 ADDR LINE ADD/SPARE-19
                    </div>
                    <div>

                    </div>
                    <div>
                        England
                    </div>
                    <div>
                        TF3 4ER
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>


</form>
  