<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="#" class="form">

    <div class="form-group">
        <p>
            You'll have to <a href=https://www.gov.uk/government/publications/corporation-tax-commercial-software-suppliers#" target="_blank" rel="external">
            use tax software to file your tax return to HMRC</a> instead.</p>

        <p class="form-label-bold"> Do you still want to file your accounts to Companies House using this service?</p>

        <p class="form-hint"> You can also <a href="https://www.gov.uk/file-an-annual-return-with-companies-house" target="_blank" rel="external">file your
        accounts on the Companies House website</a>, or <a href="https://www.gov.uk/company-filing-software/overview" target="_blank" rel="external">use
        accounting software</a>.</p>

        <fieldset class="form-group">
            <ul>
                <li>
                    <label for="yes"  class="block-label">Yes - I'd like to file my accounts to Companies House
                        <input type="radio" id="yes" name="yes" value="1"/>
                    </label>
                </li>

                <li style="clear:left;">
                    <label for="no"  class="block-label">No - sign me out
                        <input type="radio" id="no" name="no" value="2"/>
                    </label>
                </li>

            </ul>

        </fieldset>

        </p>
    </div>
        
</form>
  