<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}

.turquoise{
    color:#116C84
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <fieldset class="inline" id="ineligible-orgs">

      <p>We need to know your income to find out if your organisation is small enough to use this service.</p>

      <span class="heading-medium inline">Income this period:</span>
      <span class="turquoise heading-medium"> 1 April 2015 to 31 March 2016</span>
        <br />
        <br />
        <div class="form-group">
            <!--<label class="form-label-bold" for="turnover">Turnover</label>-->
            <input class="" id="turnover" type="text">
        </div>

    </fieldset>

</form>
  