<p>A note about advances and credits, and how they are optional. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet arcu eu aliquam gravida. Ut pretium nunc eros, convallis facilisis ni tristique non.</p>

<form action="/advancesandcreditfootnote" method="POST" class="form" >

    <div class="form-group">
        <label class="form-label visuallyhidden" for="national-insurance">advances and credits</label>
        <textarea class="form-control"></textarea>
    </div>

</form>
