<style>
.help-link:after, .help-link:visited:after {
  background-color: #2e8aca;
  color: #fff;
  content: '?';
  position: relative;
  width: 24px;
  height: 22px;
  display:  inline-block;
  top: 1px;
  text-align:center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
  vertical-align: top;
  padding-top: 2px;

}

a.help-link, a.help-link:visited {
  text-decoration: none;
  color: #0B0C0C;
}

a.help-link:hover {
  text-decoration: underline;
  color: #2e8aca;
}

.hidden-help, .js-disabled-hidden-help {
  font-size: 16px;
  margin-top: 1em;
  border-left: 0.3em solid #bfc1c3;
  padding-left: 1em;
  display: block;
  color: #6f777b;
}

.block-summary, .block-addition {
  padding: 10px 0 !important;
  margin-bottom: 1em;
  clear: both;
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3;
}

.block-summary__edit-link, .block-summary__text {
  display: inline-block;
}
.block-summary__edit-link {
  width: 10%;
  text-align: right;
}
.block-summary__text {
  display: inline-block;
  width: 89%;
}

</style>


<form method="POST" action="/accountsapprove" class="form">
    
  <h2 class="heading-medium">Loan summary</h2>

      <div id="taxAvoidanceQuestionSummary" class="block-summary">
          <div class="block-summary__text">
          Loans to report: Yes
      </div>
    
        <a class="block-summary__edit-link" href="/cato/loans.html"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
  
      </div>


<div id="taxAvoidanceSummary" class="block-summary block-indent">
    <div class="block-summary__text">
    <p>Loan added:</p>
    Loan recipient: Clive Williams<br />
    Loan amount: £10,000<br />
    Amount repaid: £3,000<br />
    Last repayment: 2 February 2014
</div>    
        <a class="block-summary__edit-link" href="#"> <span class="visuallyhidden">@editHint.get</span> Edit</a>
    
</div>

<div class="block-addition block-indent">
    
        <a href="/cato/add_loan_again.html" class="block-addition__link" id="addAnother_taxAvoidance">Add another loan</a>
    

</div>
</form>
  