
<br />



<div class="form-group">

<fieldset class="inline">
  <legend class="form-label-bold">Do any of the following apply to your company?</legend>
            <p class="heading-small">You cannot use this service if any of the following apply:</p>

 
    
  <ul class="list-bullet">
          <li>it is a group company, preparing consolidated accounts</li>
          <li>lorem ipsum dolor sit amet</li>
          <li>consectetur adipiscing elit</li>
          <li>suspendisse ultrices neque</li>
          <li>vel pulvinar tincidunt</li>
    	   <li>lorem ipsum dolor sit amet</li>
          <li>consectetur adipiscing elit</li>
          <li>suspendisse ultrices neque</li>
        </ul>
        
  
        
      <div class="form-group form-group-related">
        <label data-target="" class="block-label" for="yes">
          <input type="radio" value="Yes" name="yes" id="yes">
          Yes
        </label>
        <label class="block-label" for="no">
          <input type="radio" value="No" name="no" id="no">
          No
        </label>
      </div>
  
</fieldset>
</div>