<style>




</style>

<div class="form-group" style="margin-top: 1em">

        <h3>You can pay less Corporation Tax if your company or organisation makes a loss. You would do this by
            offsetting the loss against your profits. Find out more about claiming trading losses.</h3>


<br /><br />

<form method="POST" action="#" class="form">


    <p>Continue to <a href="/cato/eligibility-start_v3.html">HM Revenue and Custom's new filing software</a> to file your return.</p>

    <p>You need to use <a href="https://online.hmrc.gov.uk/corporation-tax/org/9344113174/ct600/budgetinfo">HMRC's old PDF filing software</a> instead if you’re amending a previously filed return. You also need to use the PDF software if your organisation is a:</p>

    <ul class="list-bullet">
        <li>charity with income below £6.5 million</li>
        <li>community amateur sports club (CASC)</li>
        <li>members' club</li>
        <li>company in liquidation</li>
        <li>company limited by guarantee</li>
    </ul>

    <p>You’ll need to  <a href="https://www.gov.uk/government/publications/corporation-tax-commercial-software-suppliers/corporation-tax-commercial-software-suppliers">use commercial software</a> instead of the HMRC software options if any of the following apply:</p>

    <ul class="list-bullet">
        <li>your turnover is more than £6.5 million</li>
        <li>the period you want to file with HMRC for is covered by more than one set of statutory accounts</li>
        <li>your accounts cover more than 3 HMRC Corporation Tax periods</li>
        <li>you’re reporting a repayment of money owed to the company (eg a director’s loan) that happened more than 9 months after the end of the period you're filing for</li>
    </ul>

        
</form>
  