        <h1 class="heading-xlarge">Your tax account</h1>
        <div class="text">
    <p>Use your online tax account to send tax returns, make payments or check balances for Self Assessment, VAT, Corporation Tax, and Employers' Pay As You Earn (PAYE).</p>
    <h2 class="heading-medium">Before you start</h2>

    <p>To use this service <a data-sso="false" target="_blank" href="https://www.gov.uk/new-business-register-for-tax">you must be registered</a> for at least one of the above taxes and enrolled for its online service.</p>
    <h2 class="heading-medium">Sign in with your Government Gateway account</h2>

    <p>You can <a data-sso="false" target="_blank" href="https://online.hmrc.gov.uk/registration/newbusiness">register for a Government Gateway account</a> if you don't have one.</p>

    

<form method="POST" action="/cato/sign-in?continue=http%3A%2F%2Fch-jfil-pl1.internal.ch%3A9002%2Fcato">
    <input type="hidden" value="51fdf539e8dc3cfc05280abebb63c1e827781d24-1433053073185-fee98cceae4ac0b6e655cfc9" name="csrfToken">
    
        <fieldset>
                
                
                <div class="form-group">
                <label for="userId"class="form-label">User ID</label>
                <input type="text" required="" name="userId" id="userId" class="form-control">
                </div>



                <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" required="" name="password" id="password" class="form-control">
                </div>



                <div class="form-group">
                <a href="/cato/no-nav-journey-dashboard.html" class="button">Sign in</a>
                </div>
        </fieldset>
    
</form>
    <h2 class="heading-medium">Problems signing in</h2>

    <ul class="action-list">
        <li><a data-sso="false" target="_blank" href="https://online.hmrc.gov.uk/user/credentials/userid">Lost user ID</a></li>
        <li><a data-sso="false" target="_blank" href="https://online.hmrc.gov.uk/user/credentials/password">Lost password</a></li>
        <li><a data-sso="false" target="_blank" href="http://www.hmrc.gov.uk/contactus/online-services.htm">Lost user ID and password (Self Assessment only)</a></li>
        <li><a data-sso="false" target="_blank" href="https://online.hmrc.gov.uk/information/faqs?affinitygroup=&amp;faqid=eng.faq.employers.faq.faqcom046">Lost account activation code</a></li>
    </ul>
    </div>