<form method="POST" action="/profitandloss">
    

<div class="cato-financial"> <!-- Wrapping this div around P+L, Balance Sheet so we can target them specifically-->


<div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          &nbsp;
        </div>
      </div>
<div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2013<span class="currency">&pound;</span></h3>        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
			<h3>2012<span class="currency">&pound;</span></h3>        </div>
      </div>
</div>



 
<!-----------------------------------------------------------------------------------------------------------------------------------------------------------> 


<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Lorem ipsum <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <span class="help-number">ABCD1234</span>
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Lorem ipsum previous
            </label>
        	<span class="help-number">ABCD1235</span>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->



<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Cras consequat <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
       		<span class="help-number">ABCD1234</span>
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Cras consequat
            </label>
  			<span class="help-number">ABCD1234</span>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->




<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Aliquam vehicula facilisis magna <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Aliquam vehicula facilisis magna
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->




<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Pellentesque habitant <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Pellentesque habitant
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->



<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
             Duis mattis pellentesque dolor non accumsan aliquam consectetur tellus vel malesuada <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Duis mattis pellentesque dolor non accumsan aliquam consectetur tellus vel malesuada
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->



<div class="grid-wrapper">
    
    <div class="grid grid-1-2">
        <div class="inner-block"> 
            <label for="current" class="help-link">
            Morbi porttitor malesuada lacinia <span class="visuallyhidden">current</span> <img src="/public/images/icon-question-mark.png" alt="help on blah blah">
            </label>
        </div>
    </div> 
        
    <div class="grid grid-1-4">
        <div class="inner-block"> 
            <input type="text"size="12" maxlength="9" class="form-control" id="current" name="current">
        </div>
   </div> 
   
    <div class="grid grid-1-4">
        <div class="inner-block"> 
        <label for="previous" class="visuallyhidden">
            Morbi porttitor malesuada lacinia
            </label>
            <input type="text"size="12" maxlength="9" class="form-control" id="previous" name="previous">
        </div>
   </div> 

</div> <!--End of div class="wrapper"-->






</div><!-- End div class="cato-financial"-->
        

    
</form>





    




