

                <h2 class="heading-medium">Company details held by Companies House</h2>




                <table>
                <!-- <caption>FORD MONDEO provided by INITECH LTD</caption> -->
                <tbody>
                  <!-- <tr><th scope="row">Registration number</th><td>EK62 VMG</td></tr> -->
                    <tr><th scope="row">Company name</th><td>BAXCO1303 PLC</td></tr>
                    <tr><th scope="row">Company registration number</th><td>3976194</td></tr>
                    <tr><th scope="row">Registered office address</th><td>1 Any Street<br>Crown Way<br>Cardiff<br>CF14 3UZ</td></tr>
                </tbody>
                </table >
                
                <a href="#">I need to change these details</a>

<div class="clear-both"></div>
        

         

<form method="POST" action="/aboutthecompany" class="form">
    
            <input type="hidden" value="" name="">

                <h2 class="heading-medium">Accounting periods</h2>

            

            <table>
            <!-- <caption>FORD MONDEO provided by INITECH LTD</caption> -->
            <tbody>
              <!-- <tr><th scope="row">Registration number</th><td>EK62 VMG</td></tr> -->
                <tr><th scope="row">This reporting period</th><td><strong>1 October 2012</strong> to <strong>30 September 2013</strong></td><td><a href="#" class="nowrap">Change end date</a></td></tr>
                <tr><th scope="row">Previous reporting period</th><td><strong>1 October 2011</strong> to <strong>30 September 2012</strong></td><td></td></tr>
                
            </tbody>
            </table>