<div class="grid-wrapper">


    <div>
        <div class="inner-block">

            <style type="text/css">
            ol.numbered {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            ol.numbered li {
                counter-increment: step-counter;
            }
            ol.numbered li:before {
                content: counter(step-counter);
                background-color: black;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                color: white;
                display: inline-block;
                font-size: 1.3em;
                height: 1.2em;
                padding-top: 2px;
                text-align: center;
                width: 1.3em;
            }
            ol.numbered li h3 {
                display:inline;
                padding-left:0.5em;
            }
            ol.numbered li p {
                margin-left:2.5em;
                display:block;
            }
            ol.numbered li a.something {
                display:block;
                margin:0.5em 0 2em;
            }
            ol.numbered li small a:link {
                color:#6f777b;
            }
            span.triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7.5px 0 7.5px 13.0px;
                border-color: transparent transparent transparent #000000;
            }
        </style>



            <br> <!--Don't copy this <br /> tag!-->
            <p>You can use this service to file your company accounts to Companies House, and your accounts and tax return (CT600) to HM Revenue and Customs.</p>

            <p>This service is for small limited companies with simple finances. Accountants should not use this service for their clients.</p>
            <p>Find out more about <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company/overview" target="_blank">company accounts and tax returns</a>.</p>

            <h2 class="heading-medium">Before you start</h2>

            <p><img src="/public/images/icon-important-2x.png" align="left" height="40em" style="margin-right: 0.5em" />You’ll need your finalised and balanced company accounts before you file them with this service.
                <a href="https://www.gov.uk/government/publications/corporation-tax-sample-accounts-and-computation-templates" target="_blank">Get sample accounts and templates</a>.</p>

            <p>You’ll need these things to hand:</p>

            <ul class="list-bullet">
                <li>your company registration number</li>
                <li>your authentication code from Companies House (this was sent to you by post -  <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" target="_blank">request a new code</a> if you need to)</li>
                <li>your <a href="https://online.hmrc.gov.uk/login" target="_blank">HMRC Government Gateway login details</a></li>
            </ul>


        </div><!-- / .inner-block -->
    </div><!-- / .grid .grid-2-3 -->




</div>