<h2 class="heading-large">Help</h2>
<ul class="help">
	<li><a href="#dashboard">Dashboard</a></li>
    <li><a href="#accounts">Accounts</a>
	<ul>
    	<li><a href="#accountsCompanyAuthentication">Company authentication</a></li>
		<li><a href="#accountsAboutTheCompany">About the company</a></li>
    	<li><a href="#accountsAccountsSelection">Accounts selection</a></li>
        <li><a href="#accountsOfficersOfTheCompany">Officers of the company</a></li>
        <li><a href="#accountsDirectorsReport">Directors' Report</a></li>
        <li><a href="#accountsProfitAndLoss">Profit and Loss</a></li>
        <li><a href="#accountsBalanceSheet">Balance Sheet</a></li>
        <li><a href="#accountsBalanceSheetStatements">Balance Sheet statements</a></li>
        <li><a href="#accountsCommitmentsByWayOfGuarantee">Commitments by way of guarantee</a></li>
        <li><a href="#accountsFootnotes">Footnotes</a></li>
        <li><a href="#accountsReviewYourFilinf">Review your filing</a></li>
		<li><a href="#accountsFileAccounts">File accounts</a></li>
    </ul>
    </li>
    <li><a href="#computations">Computations</a>
     <ul>
        <li><a href="#computationsAccountingPeriod">Accounting Period</a></li>
        <li><a href="#computationsTradingAccountDetails">Trading Account Details</a></li>
        <li><a href="#computationsExpenses">Expenses</a></li>
        <li><a href="#computationsDetailedProfitAndLoss">Detailed Profit &amp; Loss</a></li>
        <li><a href="#computationCapitalAllowancesBalancingCharges">Capital Allowances / Balancing Charges</a></li>
        <li><a href="#computationsMachineryAndPlant">Machinery and Plant</a></li>
        <li><a href="#computationsIncomeFromProperty">Income From Property</a></li>
    </ul>  
    </li>
    <li><a href="#ct600">CT600</a>
    <ul>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
        <li><a href="#">CT600 item</a></li>
    </ul>    
    </li>
</ul>