<div class="cato-header">
    <!--{{#isJoint}}<h1 class="heading-xlarge">Are your accounts in the right format?</h1>{{/isJoint}}-->
    <!--{{#isCoHo}}<h1 class="heading-xlarge">Are your accounts in the right format?</h1>{{/isCoHo}}-->
    <!--{{#isHMRC}}<h1 class="heading-xlarge">Are your accounts in the right format?</h1>{{/isHMRC}}-->

    <!--{{#isCharities}}<h1 class="heading-xlarge">Have you prepared your accounts?</h1>{{/isCharities}}-->

    <h1 class="heading-xlarge">Before you start</h1>
</div>  <!-- / .cato-header -->