
<table width="100%" class="dashboard-current single">
  <tr>  
      <td>1 May 2013 to 30 April 2014</td>
      <td class="logo" width="225"><img src="/public/images/icons/crests/org_crest_27px.png" />Companies House</td>
      <td>&nbsp;</td>
  </tr>
  <tr class="end">
      <td>
        <h1 class="heading-medium"><span>1</span> Accounts</h1>
        <p class="desc" id="accountsHelp">Your annual accounts to <b class="bold-small">Companies House</b> and/or <b class="bold-small">HMRC</b></p>
      </td>
      <td class="spanner status">Ready to submit</td>
      <td><a href="#">Review</a></td>      
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style=""><input type="submit" value="Submit to Companies House" class="button" />
      <p class="due">Due by<br /><b class="strong">31 January 2015</b></p>
      <div class="days-left warning">4 days left</div>
    </td>
    <td>&nbsp;</td>
</table>