<style>
.help-link:after, .help-link:visited:after {
  background-color: #2e8aca;
  color: #fff;
  content: '?';
  position: relative;
  width: 24px;
  height: 22px;
  display:  inline-block;
  top: 1px;
  text-align:center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
  vertical-align: top;
  padding-top: 2px;

}

a.help-link, a.help-link:visited {
  text-decoration: none;
  color: #0B0C0C;
}

a.help-link:hover {
  text-decoration: underline;
  color: #2e8aca;
}

.hidden-help, .js-disabled-hidden-help {
  font-size: 16px;
  margin-top: 1em;
  border-left: 0.3em solid #bfc1c3;
  padding-left: 1em;
  display: block;
  color: #6f777b;
}

</style>

<br />

<h2 class="heading-medium">Company details</h2>


<div id="aboutTheCompanySummary" class="block-summary">
    <div class="block-summary__text">
        Accounting period provided: 1 April 2013 to 31 July 2014
    </div>

    <a class="block-summary__edit-link" href="#">
        <span class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<h2 class="heading-medium">Officers of the company</h2>


<div id="servedDirectorQuestionSummary" class="block-summary">
    <div class="block-summary__text">
        You have confirmed director(s) served throughout the whole period.
    </div>

    <a class="block-summary__edit-link"
       href="#"> <span
            class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


The following director(s) served throughout the whole period:


<div id="servedDirectorSummary_0" class="block-summary block-indent">
    <div class="block-summary__text">
        Paul Jones
    </div>

    <a class="block-summary__edit-link" href="#">
        <span class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<div class="block-addition block-indent">

    <a href="#" class="block-addition__link"
       id="addAnother_servedDirector">Add another director</a>


</div>


<div id="appointedDirectorQuestionSummary" class="block-summary">
    <div class="block-summary__text">
        No directors were appointed during the period.
    </div>

    <a class="block-summary__edit-link"
       href="#"> <span
            class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<div id="resignedDirectorQuestionSummary" class="block-summary">
    <div class="block-summary__text">
        No directors resigned during the period.
    </div>

    <a class="block-summary__edit-link"
       href="#"> <span
            class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<div id="secretarySummary" class="block-summary">
    <div class="block-summary__text">
        Company secretary details not provided (optional).
    </div>

    <a class="block-summary__edit-link" href="#"> <span
            class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<h2 class="heading-medium">Directors' report</h2>


<div id="directorsReportSummary" class="block-summary">
    <div class="block-summary__text">
        Directors' report completed.
    </div>

    <a class="block-summary__edit-link" href="#">
        <span class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<h2 class="heading-medium">Profit and loss</h2>


<div id="microProfitAndLossSummary" class="block-summary">
    <div class="block-summary__text">
        Profit and loss completed.
    </div>

    <a class="block-summary__edit-link"
       href="#"> <span class="visuallyhidden">@editHint.get</span>
        Edit</a>

</div>


<h2 class="heading-medium">Balance sheet</h2>


<div id="microBalanceSheetSummary" class="block-summary">
    <div class="block-summary__text">
        Balance sheet figures completed.
    </div>

    <a class="block-summary__edit-link" href="#">
        <span class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<div id="balanceSheetStatementsSummary" class="block-summary">
    <div class="block-summary__text">
        Balance sheet statements completed.
    </div>

    <a class="block-summary__edit-link"
       href="#"> <span
            class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


<h2 class="heading-medium">Footnotes</h2>


<div id="noteSelectionSummary" class="block-summary">
    <div class="block-summary__text">
        Footnotes not provided (optional)
    </div>

    <a class="block-summary__edit-link" href="#">
        <span class="visuallyhidden">@editHint.get</span> Edit</a>

</div>


        
<!--</form>-->
  