   <div class="submission">
      <p><img src="/public/images/icon-green-success-2x.png" alt="">Submission successful</p>
      <p>The Accounts for <strong>&#60;Company name&#62;</strong> have been successfully submitted to and received by Companies House at &#60;HH.MM GMT&#62; on &#60;dd/mm/yyyy&#62;.</p>
      <p>Your Companies House submission number is: <span>&#60;submission number from CH XML gateway&#62;</span></p>
      </div>
      
      <p class="heading-medium">Important</p>
      <ul class="list-bullet">
      <li>Make a note of your Companies House submission number in case you have a query.</li>
      <li>You will receive an email from Companies House acknowledging receipt of the accounts, then a second email confirming if they have been accepted or rejected.</li>
      </ul>