<br />
<br />

<form action="/advancesandcreditfootnote" method="POST" class="form" >

    <div class="form-group">


        <p>If you're trying to file to Companies House, you can <a href="https://ewf.companieshouse.gov.uk" aria-describedby="File with Companies House" rel="external">file directly through
            their website (opens in a new tab)</a>.</p>
        <p>If you're trying to file with HMRC, you can <a href="https://www.gov.uk/company-filing-software/overview" rel="external">use accounting software (opens in a new tab)</a>.
        </p>

        <h2 class="heading-medium">Charities, clubs and companies in liquidation</h2>

        <p>You'll be able to use this service in the next few months if you're a:</p>

        <ul class="list-bullet">
            <li>charity with income below £6.5 million</li>

            <li>community amateur sports club (CASC)</li>

            <li>company in liquidation</li>
        </ul>

        <p>If you're one of these organisations and you need to file now, you can <a href="#" rel="external">use HMRC's PDF filing software (opens in a new tab)</a>.</p>
    </div>

</form>
