    <div class="form-group important-notice">
        <p>The sections below are optional. Only use those you want to report.</p>
    </div> 
    





<form action="/directorsreport" method="POST" >
    
<details>
	<summary aria-controls="1a" tabindex="0"><i class="arrow arrow-closed">?</i>
    <label for="1" class="form-label">Principal activities of the company during the period  (optional)</label>
	</summary>
	<div class="form-group" id="1a" aria-expanded="false" style="display: none;">
       
        <p class="form-hint">For example, 'The company's principal activity during the period was the printing and distribution of newspapers.'</p>
         <div class="error">
         <textarea class="form-control" id="1"></textarea>
         <span class="validation-message">This is an error message, and it goes across many lines. This is an error message, and it goes across many lines. This is an error message, and it goes across many lines. This is an error message, and it goes across many lines. This is an error message, and it goes across many lines.</span>
         </div>
	</div>
</details>

<details>
	<summary aria-controls="2a" tabindex="0"><i class="arrow arrow-closed">?</i>
    <label for="2" class="form-label">Political and charitable donations  (optional)</label>
    </summary>	
	<div class="form-group" id="2a" aria-expanded="false" style="display: none;">
    <p class="form-hint">For example, 'The company's charitable donations during the period amounted to £2,043. No political donations were made.'</p>
	<textarea class="form-control" id="2"></textarea>
	</div>
</details>



<details>
	<summary aria-controls="3a" tabindex="0"><i class="arrow arrow-closed">?</i>
    <label for="3" class="form-label">Company policy on the employment of disabled persons (optional)</label>
	</summary>
	<div class="form-group" id="3a" aria-expanded="false" style="display: none;">
    <p class="form-hint">For example, 'The company's policy is to employ disabled persons wherever practical. One full time member of staff is registered disabled.'</p>
	<textarea class="form-control" id="3"></textarea>
	</div>
</details>

<details>
	<summary aria-controls="4a" tabindex="0"><i class="arrow arrow-closed">?</i>
    <label for="4" class="form-label">Additional information to include in the Directors' Report (optional)</label>
	</summary>
	<div class="form-group" id="4a" aria-expanded="false" style="display: none;">
    <p class="form-hint">Enter information not covered by the other sections. For example, if the company made an acquisition of its own shares.</p>
	<textarea class="form-control" id="4"></textarea>
	</div>
</details>
 
 