<style type="text/css">

.block-summary, .block-addition {
    background-color: #fff;
    border-bottom-color: #bfc1c3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    margin-bottom: 1em;
    padding-bottom: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
}

.block-summary__edit-link, .block-summary__text {
    display: inline-block;
}
.block-summary__text {
    width: 89%;
}
.block-indent {
    margin-left: 2em;
}
.warning-overview {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffcc;
    border-bottom-color: #ffbf47;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ffbf47;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #ffbf47;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #ffbf47;
    border-top-style: solid;
    border-top-width: 3px;
    margin-bottom: 20px;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
}
.warning-overview__heading {
    font-size: 22px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.warning-overview__list-item {
    color: #0b0c0c;
    font-size: 15px;
    margin-left: 20px;
}
.warning-overview__list-item a {
    color: inherit;
}

.form-field--warning.numbered {
    margin-left: 22px !important;
    width: 90%;
}
.contains-warning .form-field--warning {
    clear: both;
}
.warning-notification {
    color: #0b0c0c;
    display: block;
    font-family: nta,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 1em;
    text-transform: none;
}


</style>



    <h1 class="heading-xlarge">Officers of the company</h1>
    <p>These details will be included in the directors' report.</p>




            <table class="table-list">
                <tbody>
                  <tr>
                    <th colspan="2" scope="row">Only the following director(s) served throughout the whole period: </th>
                  </tr>
                  <tr>
                    <td colspan="2">John Smith</td>
                  </tr>
                <tr>
                    <td colspan="2">Dr James Smith</td>
                  </tr>
             		<tr>
                    <th colspan="2" scope="row">The following director(s) were appointed during the period: </th>
                  </tr>
                  <tr>
                    <td>Pauline Smith</td>
                    <td>Appointed on 15 October 2013 </td>
                  </tr>
                <tr>
                    <td>Arthur White</td>
                    <td>Appointed on 12 September 2013 </td>
                </tr>
                    		<tr>
                    <th colspan="2" scope="row">The following director(s) resigned during the period: </th>
                  </tr>
                  <tr>
                    <td>Edward David Jones</td>
                    <td>Resigned  on 15 October 2013 </td>
                  </tr>
                       <tr>
                    <th colspan="2" scope="row">The company secretary throughout the whole period was: </th>
                  </tr>
                  <tr>
                    <td colspan="2">Lisa Smith</td>
                  </tr>
            </tbody></table>

            

<p>&nbsp;</p>

<form>
    <fieldset class="inline">
        <legend class="form-label-bold">Are these company officer details correct?</legend>
        <span class="form-hint">If not, you'll be able to add, edit or remove the company officer details.</span>
            <label class="block-label" for="detailsCorrect-true">Yes
            	<input type="radio" data-init-value-on-scope="" data-ng-model="detailsCorrect" value="true" name="detailsCorrect" id="detailsCorrect-true" class="ng-pristine ng-valid">
            </label>
            <label class="block-label" for="detailsCorrect-false">No
           	 	<input type="radio" data-init-value-on-scope="" data-ng-model="detailsCorrect" value="false" name="detailsCorrect" id="detailsCorrect-false" class="ng-pristine ng-valid">
            </label>
    </fieldset>
</form>


<div class="form-group">
<a href="/cato/prepopulated-officers-edit.html" class="button">Continue</a>
</div>

  