<style type="text/css">
.warning-overview {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffcc;
    border-bottom-color: #ffbf47;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ffbf47;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #ffbf47;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #ffbf47;
    border-top-style: solid;
    border-top-width: 3px;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
}
</style>
<br />
<div class="warning-overview">
This is a message about prepopulation which will appear at the top of both the Profit and loss and the Balance sheet.
</div>