
<table width="100%" class="dashboard-current single">
  <tr>  
      <td>1 May 2013 to 30 April 2014</td>
       <td class="logo" width="225"><img src="/public/images/icons/crests/hmrc_crest_27px.png" />HM Revenue &amp; Customs</td>
  </tr>
  <tr>
      <td>
        <h1 class="heading-medium"><span>1</span> <a href="#">Accounts</a></h1>
        <p class="desc help" id="accountsHelp">Review your annual accounts for <b class="bold-small">Companies House</b> and <b class="bold-small">HMRC</b>.
      </td>
      <td class="status">Ready to submit</td>
  </tr>
  <tr>
      <td>
        <h1 class="heading-medium"><span>2</span> <a href="#">Computations</a></h1>
        <p class="desc help" id="compsHelp">Review the calculations of how much tax you must pay <b class="bold-small">HMRC</b>.</p>
      </td>
      <td class="status">Ready to submit</td>
  </tr>
  <tr class="end">
      <td>
        <h1 class="heading-medium"><span>3</span> <a href="#">Annual tax return (CT600)</a></h1>
        <p class="desc" id="returnHelp">Review your annual Company Tax return to <b class="bold-small">HMRC</b>.</p>
      </td>
      <td class="status">Ready to submit</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style=""><input type="submit" value="Submit to HMRC" class="button" /></td>
  </tr>
</table>