<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">


  <legend class="form-label-bold">You are eligible to jointly file to both HMRC and Companies House</legend>

  <p>This means you can make one filing which contains everything HMRC and Companies House need for both your annual tax return and your company accounts.</p>

    <div class="form-group form-group-compound">
      <label class="block-label" for="nationality-british">
        <input id="nationality-british" type="checkbox" value="" checked="checked">
      Joint filing - to HMRC & Companies House
      </label>
    </div>
    <p class="form-block">or</p>
    <p>You can file to a single organisation instead, though you may be legally obliged to file to both.</p>
    <p><a href="#">Just file to HMRC</a></p>
    <p><a href="#">Just file to Companies House</a></p>



        
</form>
  