<style>

details .summary {
  text-decoration: underline;
}
details summary:hover {
  color: #2e8aca;
}
details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}

.section_panel{
    background-color: #005ea5;
    padding: 1em;
    color: #ffffff;
}

.section_panel a:link{
    color: #ffffff;
}

#content > article {
    width: 100%;
}


</style>

<br />

<form method="POST" action="/accountsapprove" class="form">

    <p>
        Download the templates in editable (Word or similar) or PDF format.
    </p>

    <section class="section_panel">
        <span class="heading-small">Downloads</span>

        <p>
           <a href="/public/account_templates/full_accounts_ltd_by_shares.odt" style="color: #fff" download id="download_template">Word or similar: accounts for private limited companies (88KB)</a>
        </p>
        <p>
           <a href="#" style="color: #fff">PDF: accounts for private limited companies (88KB)</a>
        </p>

    </section>

    <div>
        <p>
            You can leave and come back later - we've saved you answers so far.
        </p>
    </div>


        
</form>
  