<h1 class="heading-large" style="margin-bottom: 5px;">HMRC submission for 2013-2014</h1>
<p>Accounting period: 1 October 2013 - 30 September 2014</p>

<div class="alert warning">This submission is currently pending approval</div>

<div class="conf-box">

	<p><img src="/public/images/icons/crests/hmrc_crest_27px.png"> HM Revenue &amp; Customs</p>

	<h2 class="heading-medium">Successfully submitted to HMRC</h2>

	<p><b class="strong">Status</b><br />
		Pending approval
	</p>

	<p><b class="strong">Submission date:</b> 31 May 2015</b><br />
		<b class="strong">Time:</b> 23:59:59
	</p>

	<p><b class="strong">Submission contents</b><br />
		Accounts (Full)<br />
		Computations<br />
		Annual tax return (CT600)
	</p>

	<p style="margin-bottom: 0;"><b class="strong">Your correlation ID</b><br />
		120/BC09254
	</p>

</div>

<h3 class="heading-medium" style="margin-top: 30px; margin-bottom: 10px;">Download your submission</h3>
<p><a href="">HMRC submission 2013-2014.pdf</a> (PDF, 124 KB)</p>

<b class="strong">Submission attachments</b>
<ul>
	<li><a href="">Some document</a> (PDF, 97 KB)</li>
	<li><a href="">Some other document</a> (PDF, 1.4 MB)</li>
</ul>

<h3 class="heading-medium" style="margin-top: 30px; margin-bottom: 10px;">Amendments</h3>

<p>You have until 31 May 2016 to submit amendments to this submission - for example if you need to update the value of losses brought back or a capital allowance claim. You can only submit amendments to HMRC using this service; <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company/corrections-and-amendments">Companies House amendments must be sent on paper</a>.</p>

<input type="submit" value="Amend submission" class="button">

<p><a href="/">Back</a></p>