<form method="POST" action="/profitandloss">
    

<div class="cato-financial"> <!-- Wrapping this div around P+L, Balance Sheet so we can target them specifically-->



<div class="row form-header">


        <div class="right"> 
    
        
            <div class="figure-entry form-group">
               <h3>2013<span class="currency">&pound;</span></h3>
            </div>
        
	    <div class="figure-entry form-group">
            <h3>2012<span class="currency">&pound;</span></h3>
        </div>
    
    </div>

</div>
        






 
<div class="row">

    <label for="turnover_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Turnover</label>
    <div class="right"> 
        <input type="text"size="12" maxlength="11" class="form-control financial" id="turnover_current" name="turnover_current" value="">
        <label for="turnover_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Turnover</span></label>
        <input type="text"size="12" maxlength="11" class="form-control financial" id="turnover_previous" name="turnover_previous">
    </div>

</div>





<div class="row">

    <label for="costofsales_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Cost of sales</label>
    <div class="right"> 
     	<input type="text"size="12" maxlength="11" class="form-control financial" id="costofsales_current" name="costofsales_current">
  		<label for="costofsales_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Cost of sales</span></label>
        <input type="text"size="12" maxlength="11" class="form-control financial" id="costofsales_previous" name="costofsales_previous">
    </div>

</div>





<div class="row">    
    <label for="grossprofit_current" class="financial figure-label total"><span class="visuallyhidden">2013</span>Gross profit or (loss)</label>
	<div class="right"> 
        <input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="grossprofit_current" name="grossprofit_current" class="form-control financial form-total">
		<label for="grossprofit_previous" class="financial figure-label total"><span class="visuallyhidden">2012 Gross profit or (loss)</span></label>
        <input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="grossprofit_previous" name="grossprofit_previous" class="form-control financial form-total">
  	</div>
</div>    
    

    
    
    
    
<div class="row">

    <label for="distributioncosts_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Distribution costs</label>
    <div class="right"> 
		<input type="text"size="12" maxlength="11" class="form-control financial" id="distributioncosts_current" name="distributioncosts_current">
    	<label for="distributioncosts_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Distribution costs</span></label>
    	<input type="text"size="12" maxlength="11" class="form-control financial" id="distributioncosts_previous" name="distributioncosts_previous">
	</div>
</div>



<div class="row">

    <label for="adminexpenses_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Administrative expenses</label>
    <div class="right"> 
		<input type="text"size="12" maxlength="11" class="form-control financial" id="adminexpenses_current" name="adminexpenses_current">
    	<label for="adminexpenses_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Administrative expenses</span></label>
     	<input type="text"size="12" maxlength="11" class="form-control financial" id="adminexpenses_previous" name="adminexpenses_previous">
	</div>
</div>



 
<div class="row">

    <label for="otheroperatingincome_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Other operating income</label>
    <div class="right"> 
    	<input type="text"size="12" maxlength="11" class="form-control financial" id="otheroperatingincome_current" name="otheroperatingincome_current">
    	<label for="otheroperatingincome_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Other operating income</span></label>
        <input type="text"size="12" maxlength="11" class="form-control financial" id="otheroperatingincome_previous" name="otheroperatingincome_previous">
	</div>
</div>        









<div class="row">    
    <label for="operatingprofit_current" class="financial figure-label total"><span class="visuallyhidden">2013</span> Operating profit or (loss)</label>
	<div class="right"> 
		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="operatingprofit_current" name="operatingprofit_current" class="form-control financial form-total">
    	<label for="operatingprofit_previous" class="financial figure-label total"><span class="visuallyhidden">2012 Operating profit or (loss)</span></label>
		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="operatingprofit_previous" name="operatingprofit_previous" class="form-control financial form-total">
 	</div>         
</div>    
    
    
        


<div class="row">

    <label for="interestreceivable_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Interest receivable and similar income</label>
    <div class="right"> 
		<input type="text"size="12" maxlength="11" class="form-control financial" id="interestreceivable_current" name="interestreceivable_current">
    	<label for="interestreceivable_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Interest receivable and similar income</span></label>
      	<input type="text"size="12" maxlength="11" class="form-control financial" id="interestreceivable_previous" name="interestreceivable_previous">
	</div>
</div>  



<div class="row">

    <label for="interestpayable_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Interest payable and similar charges</label>
    <div class="right"> 
   		<input type="text"size="12" maxlength="11" class="form-control financial" id="interestpayable_current" name="interestpayable_current">
    	<label for="interestpayable_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Interest payable and similar charges</span></label>
    	<input type="text"size="12" maxlength="11" class="form-control financial" id="interestpayable_previous" name="interestpayable_previous">
	</div>
</div>

 


        




 


     





<div class="row">    
    <label for="profitonordinaryactivities_current" class="financial figure-label total"><span class="visuallyhidden">2013</span>Profit or (loss) on ordinary activities before taxation</label>
	<div class="right"> 
   		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="profitonordinaryactivities_current" name="profitonordinaryactivities_current" class="form-control financial form-total">    
    	<label for="profitonordinaryactivities_previous" class="financial figure-label total"><span class="visuallyhidden">2012 Profit or (loss) on ordinary activities before taxation</span></label>
		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="profitonordinaryactivities_previous" name="profitonordinaryactivities_previous" class="form-control financial form-total">
   	</div>       
</div> 






<div class="row">

    <label for="taxonordinaryactivities_current" class="financial figure-label left"><span class="visuallyhidden">2013</span>Tax on profit or loss on ordinary activities</label>
    <div class="right"> 
       	<input type="text"size="12" maxlength="11" class="form-control financial" id="taxonordinaryactivities_current" name="taxonordinaryactivities_current">
    	<label for="taxonordinaryactivities_previous" class="financial figure-label left"><span class="visuallyhidden">2012 Tax on profit or loss on ordinary activities</span></label>
        <input type="text"size="12" maxlength="11" class="form-control financial" id="taxonordinaryactivities_previous" name="taxonordinaryactivities_previous">
	</div>
</div> 
        




 
<div class="row">    
    <label for="profitforyear_current" class="financial figure-label total"><span class="visuallyhidden">2013</span>Profit or (loss) for the financial year</label>
	<div class="right">   
 		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="profitforyear_current" name="profitforyear_current" class="form-control financial form-total">
    	<label for="profitforyear_previous" class="financial figure-label total"><span class="visuallyhidden">2012 Profit or (loss) for the financial year</span></label>
		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="profitforyear_previous" name="profitforyear_previous" class="form-control financial form-total">
  	</div>      
</div>

        

<div class="row">    
    <label for="netbalanceforperiod_current" class="financial figure-label total"><span class="visuallyhidden">2013</span>Net balance for the financial period transferred to reserves</label>
	<div class="right">  
  		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="netbalanceforperiod_current" name="netbalanceforperiod_current" class="form-control financial form-total">
    	<label for="netbalanceforperiod_previous" class="financial figure-label total"><span class="visuallyhidden">2012 Net balance for the financial period transferred to reserves</span></label>
		<input type="text" tabindex="-1" readonly="readonly" data-bind="" size="12" maxlength="9" value="0" id="netbalanceforperiod_previous" name="netbalanceforperiod_previous" class="form-control financial form-total">
   	</div>        
</div>




</div><!-- End div class="cato-financial"-->
        


    
   	
    
</form>