{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$content}}

<main id="wrapper" role="main">
  <div id="content">

	<div class="inner-block">
    	<div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a <a data-sso="false" target="_blank" href="https://www.gov.uk/help/beta">trial service</a>. Help us improve it - send your <a data-sso="false" target="_blank" href="/beta-feedback" id="feedback-link">feedback</a>.</span>
        </p>
      	</div><!-- / .phase-banner --> 
    	{{>cato_service_info}}
  		{{>cato_company_info_no_ap}}
 	</div><!-- / .inner-block --> 

	<div class="inner-block">
    fgfggffg
        {{>cato_dashboard_header}}
        {{>cato_dashboard_in_progress_c}}
 	</div><!-- / .inner-block --> 
    
   </div><!-- / #content -->
</main><!-- / #wrapper -->

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/cato_layout}}
