{{<govuk_template}}

{{$cookieMessage}}
    {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
    {{>cato_elements_head}}
    {{>elements_tracking}}
{{/head}}

{{$propositionHeader}}
    {{>cato_heading}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
    <main id="wrapper" role="main">
        <div id="content">
            {{>cato_beta_banner}}
            <article class="content__body grid-wrapper">
                {{>cato_company_info}}
                <section id="main-content" aria-label="completedSummary" class="grid grid-3-3">
                    {{$pageContent}}{{/pageContent}}
                </section>
            </article>
        </div>
    </main>
{{/content}}

{{$bodyEnd}}
    {{>scripts}}
    {{$pageScripts}}{{/pageScripts}}
{{/bodyEnd}}

{{/govuk_template}}
