{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageNavigation}}
    {{>cato_capital_allowances_menu_nav}}
{{/pageNavigation}}

{{$pageContent}}
    {{>cato_balance_sheet_header}}
    {{>cato_balance_sheet}}
    <div class="form-group">
        <a href="/cato/capital_allowances_q3" class="next button" id="next-button">Continue</a>
        <ul>
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{$pageScripts}}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#next-button').click(function(){

    //            if($('#type1').is(':checked') || $('#type3').is(':checked') || $('#type5').is(':checked')){
                if($('#type3').is(':checked') || $('#type5').is(':checked')){
                    window.location.href = "application_exclusion.html" + window.location.search;
                }
                else{
                    window.location.href = "company_registered_v2.html" + window.location.search;
                }


            })
        });
    </script>
{{/pageScripts}}

{{/cato_layout}}
