{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageNavigation}}
    {{>cato_capital_allowances_menu_nav}}
{{/pageNavigation}}

{{$pageContent}}
    {{>cato_capital_allowances_header}}
    {{>cato_capital_allowances_q5}}
    <div class="form-group">
        <a href="/cato/company_cars.html" class="next button" id="next-button">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{/cato_layout}}
