{{<cato_layout_no_nav}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    <div class="cato-header">
        <h1 class="heading-xlarge">Period of accounts</h1>
    </div>

    {{>cato_charities_poa}}
    <div class="form-group">
        <br>
        <a href="#" class="next button" id="next-button">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="window.history.go(-1); return false;">Back</a></li>
        </ul>
    </div>
{{/pageContent}}



{{$pageScripts}}

    {{#isCharities}}
        <script type="text/javascript">
            $(document).ready(function() {

                $("#next-button").click(function(){
                    window.location.href = "/cato/charities_ap.html" + window.location.search;
                });

            });
        </script>
    {{/isCharities}}

{{/pageScripts}}

{{/cato_layout_no_nav}}
