{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    {{>cato_dormancy_header_q1}}
    {{>cato_dormancy_q1}}
    <div class="form-group">
        <br>


        <a class="next button" id="next-button">Continue</a>
        <ul>
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{$pageScripts}}



{{#isJoint}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#next-button').click(function(){

            if($('#q1').is(':checked')){
                window.location.href = "dormancy_q2.html" + window.location.search;
            }
            else{
                window.location.href = "eligibility_select_filing.html" + window.location.search;
            }


        })
    });
</script>
{{/isJoint}}
<!--{{#isHMRC}}
<a href="/cato/account_dates.html?name={{name}}" class="next button" id="next-button">Continue</a>
{{/isHMRC}}-->


{{#isCoHo}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#next-button').click(function(){

            if($('#q1').is(':checked')){
                window.location.href = "dormancy_q2.html" + window.location.search;
            }
            else{
                window.location.href = "#";
            }


        })
    });
</script>
{{/isCoHo}}


{{#isCharities}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#next-button').click(function(){

            /*if($('#q1').is(':checked')){
                window.location.href = "dormancy_q2.html" + window.location.search;
            }
            else{
                window.location.href = "filing_group_v2.html" + window.location.search;
            }*/

            window.location.href = "charities_income_declaration.html" + window.location.search;
        })
    });
</script>
{{/isCharities}}



{{/pageScripts}}

{{/cato_layout}}
