{{<cato_layout_no_nav}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    <div class="cato-header">
        <h1 class="heading-xlarge">File your Company Accounts and Tax Online</h1>
    </div>

    {{>cato_eligibility_type}}
    <div class="form-group">
        <br>
        <a href="/cato/charities_eligibility_start.html?name=Charities" class="next button" id="next-button">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="window.history.go(-1); return false;">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{/cato_layout_no_nav}}
