{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    {{>cato_capital_allowances_header_2}}
    {{>cato_eligibility_capital_allowances_2}}
    <div class="form-group">
        <a href="#" class="next button" id="next-button">Continue</a>
        <ul>
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{$pageScripts}}
    <script type="text/javascript">
        $(document).ready(function() {
            /*$('#next-button').click(function(){

                if($('#q2').is(':checked')){
                    window.location.href = "application_exclusion.html" + window.location.search;
                }
                else{
                    window.location.href = "eligibility_not_maintrade.html" + window.location.search;
                }


            })*/

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            $('#next-button').click(function() {

                var name = getUrlParameter('name');

                if (name == "Joint" || name == "CoHo" || name == "HMRC") {
                    if($('#q2').is(':checked')){
                        var link = "/cato/still_CoHo";
                        $('#next-button').attr("href", link);
                    } else {
                        var link = "/cato/eligibility_not_maintrade.html?name={{name}}";
                        $('#next-button').attr("href", link);
                    }

                }

            });
        });
    </script>
{{/pageScripts}}

{{/cato_layout}}
