{{<cato_help_layout}}

{{$pageTitle}}Help - File your Company Accounts and Tax online{{/pageTitle}}

{{$content}}

<main id="wrapper" role="main">
	<div id="content">
  		{{>cato_beta_banner}}

		<div class="grid-wrapper">
			<div class="grid grid-2-3">
				<div class="inner-block">
				{{>cato_help}}
				</div><!-- / .inner-block -->
			</div><!-- / .grid .grid-2-3 -->
			<div class="grid grid-1-3" role="navigation">
				<div class="inner-block help-menu">
				{{>cato_help_menu}}
				</div><!-- / .inner-block -->
			</div><!-- / .grid grid-1-3 -->
		</div>

	</div><!-- / #content -->
</main><!-- / #wrapper -->
{{/content}}

{{/cato_help_layout}}
