{{<cato_layout_no_nav}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    <div class="cato-header">
        <br />
        <div class="progress" style="color: grey; font-size: 19px; margin-bottom: 10px;">Step 3 of 3</div>
        <h1 class="heading-xlarge" style="margin-top: 0;">Annual tax return (CT600)</h1>
    </div>  <!-- / .cato-header -->

    {{>cato_v3_accordion}}


    <div class="form-group">
        <br>
        <!--                <a href="#" class="next button">Continue</a> -->
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="/cato/dashboard-in-progress-b.html">Return to overview</a></li>
        </ul>
    </div>
{{/pageContent}}

{{/cato_layout_no_nav}}
