{{<cato_layout_no_nav}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    {{>cato_eligibility_PoA_header}}
    {{>cato_eligibility_PoA}}
    <div class="form-group">
        <br>
        <!--<a href="/cato/PoA_edit.html" class="next button" id="next-button">Continue</a>-->
        <a class="next button" id="next-button">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{$pageScripts}}
<script type="text/javascript">
    $(document).ready(function() {

        $('#next-button').click(function(){

//            if($('#type2').is(':checked')) { alert("it's checked"); }
            if($('#type2').is(':checked')) {
                window.location = "select_AP.html";
            }
            else {
                window.location = "PoA_edit.html";
            }

        })


    });
</script>
{{/pageScripts}}

{{/cato_layout_no_nav}}
