{{<cato_layout_no_nav}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageContent}}
    {{>cato_eligibility_select_AP_header}}
    {{>cato_eligibility_select_AP}}
    <div class="form-group">
        <br>
        <a href="/cato/eligibility-financial_questions.html" class="next button" id="next-button" disabled="disabled">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="javascript:history.go(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{$pageScripts}}
<script type="text/javascript">
    $(document).ready(function() {

        $('#type1').click(function(){
            $('#next-button').removeAttr('disabled');

        });

        $('#type2').click(function(){
            $('#next-button').removeAttr('disabled');

        });
    });
</script>
{{/pageScripts}}

{{/cato_layout_no_nav}}
