{{<cato_layout}}
{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageNavigation}}
    {{>cato_menu_nav}}
{{/pageNavigation}}

{{$pageContent}}
    <div class="cato-header">
        <h1 class="heading-xlarge">Submit your filing</h1>
    </div>  <!-- / .cato-header -->
    <br />
    {{>cato_dashboard_current_submission_submit_both}}
    <div class="form-group">
        <br>

        <div id="submit-coho">
            <h1 class="heading-medium">Companies House authentication details</h1>

            <form action="/cato/filing/55435cbf3d0000c102b597bd/submit-to-c-h-section/-submit-group/accounts-submission#errors" method="POST" id="blockForm" name="blockForm" novalidate="" class="ng-pristine ng-valid">
                <input type="hidden" name="csrfToken" value="d48b07280e7a839544dac4888dfdbc006c4c85b1-1432303693697-114bbed60be499a136ad7b18">
                <fieldset id="submittoch" data-journey="accounts:navigate:submit-to-ch">
                    <label for="authCode" class="form-label   ">
                        Authentication code
                    </label>
                    <input type="password" class="form-control  " name="authCode" id="authCode" value="" style="margin-bottom: 10px">

                    <p class="form-group">
                        <a href="https://ewf.companieshouse.gov.uk" target="_blank">Forgot your authentication code?</a></p>

                    <div class="form-group  ">

            <span id="val_emailAddress">

            </span>
                        <label for="emailAddress" class="form-label   ">
                            Email address
                        </label>
                        <input type="text" class="form-control  " name="emailAddress" id="emailAddress" value="" style="margin-bottom: 45px;">
                    </div>
                </fieldset>
            </form>
            <h1 class="heading-medium" style="margin-top: 45px;">Government Gateway details</h1>

            <form action="/cato/filing/554379793d00002103b597bf/submit-c-t600-section/ct600-submit-group/ct600-submission#errors" method="POST" id="blockForm" name="blockForm" novalidate="" class="ng-pristine ng-valid">
                <input type="hidden" name="csrfToken" value="967e5d77a219cb16ad17b059116eaa6970dab694-1432305297783-edec9f0721b93d8d49d1ae29">
                <fieldset id="ct600Submission">
                    <div class="form-group  ">


            <span id="val_ggUserId">

            </span>
                        <label for="ggUserId" class="form-label   ">
                            User ID
                        </label>
                        <input type="text" class="form-control  " name="ggUserId" id="ggUserId" value="">
                    </div>
                    <div class="form-group  ">


            <span id="val_ggPassword">

            </span>
                        <label for="ggPassword" class="form-label   ">
                            Password
                        </label>
                        <input type="password" class="form-control  " name="ggPassword" id="ggPassword" value="" style="margin-bottom: 45px;">
                    </div>
                </fieldset>
            </form>
            <legend class="heading-medium" style="margin-top: 45px;">Declaration</legend>
            <p>Before your return can be submitted, you must complete the declaration below.</p>

            <p class="important-notice form-group">Providing false information or concealing any part of the company’s profits or tax payable may lead to penalties or prosecution.</p>
            <label class="form-checkbox block-label   add-focus selected" style="margin-bottom: 20px;">
                <input type="checkbox" id="declarationAgreement" class=" " name="declarationAgreement" value="true">
                I declare that the information I have given in this Company Tax Return is correct and complete to the best of my knowledge and belief.</label>
            <br />
            <fieldset id="ct600Declaration">
                <div class="form-group  ">


            <span id="val_completedByPersonFullName">

            </span>
                    <label for="completedByPersonFullName" class="form-label   ">
                        Full name of person completing tax return
                    </label>
                    <input type="text" class="form-control  " name="completedByPersonFullName" id="completedByPersonFullName" value="">
                </div>
                <div class="form-group  ">


            <span id="val_authorisingPersonFullName">

            </span>
                    <label for="authorisingPersonFullName" class="form-label   ">
                        Full name of authorising person
                    </label>
                    <input type="text" class="form-control  " name="authorisingPersonFullName" id="authorisingPersonFullName" value="">
                </div>
                <div class="form-group  ">


            <span id="val_authorisingPersonStatus">

            </span>
                    <label for="authorisingPersonStatus" class="form-label   ">
                        Status of authorising person (company secretary, treasurer, etc)
                    </label>
                    <input type="text" class="form-control  " name="authorisingPersonStatus" id="authorisingPersonStatus" value="">
                </div>
            </fieldset>
            <div class="form-group">
                <input id="submit" type="submit" value="Submit filing" class="button button-continue">
            </div>
            <p class="form-block" style="margin-top: 20px">Following submission you will receive an email from Companies House acknowledging receipt of the accounts, then a second email confirming if they have been accepted or rejected.</p>

            <p>
                <a href="#" onclick="$('#submit-coho, #submit-or').toggle(); return false;">Back</a>
            </p>
        </div>
    </div>
{{/pageContent}}
{{/cato_layout}}
