{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageNavigation}}
    {{>cato_trading_losses_menu_nav}}
{{/pageNavigation}}

{{$pageContent}}
    {{>cato_trading_losses_header}}
    {{>cato_trading_losses_v2}}

    <div class="form-group">
        <br>
        <a href="/cato/add-loan.html" class="next button">Save and continue</a>
        <ul>
            <li><a href="javascript:history.back(-1)">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{/cato_layout}}
