{{<cato_layout}}

{{$pageTitle}}File your Company Accounts and Tax online{{/pageTitle}}

{{$pageNavigation}}
    {{>cato_capital_allowances_menu_nav}}
{{/pageNavigation}}

{{$pageContent}}
    {{>low_emissions_header}}
    {{>cato_vehicle_summary}}
    <div class="form-group">
        <br>
        <a href="/cato/report_spending.html" class="next button">Continue</a>
        <ul>
            <!--    <li><a href="/" target="_blank">Help on *page title* (opens in a new tab/window)</a></li>
              <li><a href="/" target="_blank">Preview your accounts so far (opens in a new tab/window)</a></li>-->
            <li><a href="#" onclick="window.history.go(-1); return false;">Back</a></li>
        </ul>
    </div>
{{/pageContent}}

{{/cato_layout}}
