<style type="text/css">
    body {
        margin: 0;
        background: url("/public/images/GOV_topStrip.png") repeat-x 0 0;
    }

    .center {
        margin: 2px  auto ;
        width: 977px;
    }
</style>

<div class="center">
    <img src="/public/images/YTA_portal.png" width="977" height="3120" border="0" usemap="#link_ID" />
    <map name="link_ID" id="link_ID">
        <area shape="rect" coords="31,809,177,845" href="/cato/triage_page.html" alt="corporation tax" />
    </map>
</div>
