/*Warning styles*/

@mixin warning-box($border-width: 3px ) {
    background-color: $warning-bg-color;
    border-left: $border-width solid $warning-border-color;
    padding: 0.75em 1em;
}
.warning-overview {
    @include warning-box(3px);
    border: 3px solid $warning-border-color;
    margin-bottom: 20px;
}

.warning-overview__heading {
    font-size: 22px;
    margin: 0;
}

.warning-overview__list-item {
    color: $text-colour;
    font-size: 15px;
    margin-left: 20px;
    a {
        color: inherit;
    }
}

.form-field--warning{
  @include warning-box(3px);
  &.numbered {
    margin-left: 22px!important;
    width: 90%;
  }

  padding: 0.75em 1em 0.75em 1em;
}
.contains-warning .form-field--warning {
    clear:both;
}
.warning-notification {
    display: block;
    font-family: nta,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    color: $text-colour;
    margin-top: 1em;
}

